<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->
	<!-- 페이지별 css link,js -->
	<script src="/semiconductor/common/js/page/supportTechSrc.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/support.css">
	<!-- //페이지별 css link,js -->

	<title>Technical Resources | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="Technical Resources | Samsung Semiconductor Global"/>
	<meta name="description" content="Search to get support through Downloadable materials are provided for you convenience print or use offline."/>
	<meta name="keywords" content="technical resources, samsung, samsung.com, samsung electronics, semiconductor, samsung website"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>
		<!-- static type key visual -->
		<!--20150625 수정--><div class="top-visual-area short-type" data-role="ui-visual-area"><!--//20150625 수정-->
			<img class="kv-bg" src="/semiconductor/common/img/skin/top_visual_01.jpg" alt="" />
			<div class="inarea">
				<div class="info">
					<h1>Technical Resources</h1>
					<p>Search to get support through Downloadable materials are provided for you convenience print or use offline.</p>
					<!--<div class="btn-area">
						<button type="button" title="New window opens" class="btn-share type2 btn-type1" data-role="ui-btn-share"><span>Share</span></button>
					</div>-->
				</div>
			</div>
		</div>
		<!-- //static type key visual -->
		
		<!-- part no. search -->
		<div class="grid-row">
			<h2 class="sec-title">Part No. Search</h2>
			<div class="col-inner search-area bg-main5">
				<input type="text" title="Enter name or model number" placeholder="Enter name or model number" data-role="ui-input-search-partno"/>
				<button type="submit" class="btn-ico submit-sch tech_result_btn" data-role="ui-btn-search-partno"><span class="label">search</span></button>
			</div>
		</div>
		
		<!-- 20150707 auto complete 추가 -->
		<div class="search-autocomplete">
			<div class="grid-row">
				<div class="col-inner">
					<ul>
						<li><a href="#">Result1</a></li>
						<li><a href="#">Result2</a></li>
						<li><a href="#">Result3</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //20150707 auto complete 추가 -->
		<!-- //part no. search -->

		<!-- SelectionTool Catalog -->
		<div class="module comp_wrap selectCat_wrap catagory-zone">
			<form action="#" method="post" name="comp_f" >
				<div class="grid-row noMobile" >
					<div class="grid-col col-inner">
						<div class="ui-filter-menu selectionTool-wrap techsrc-wrap" data-role="ui-tab-category">
							<div data-role="ui-tab-list">
								<ul data-role="ui-accordion" class="support-list-type">
									<li class="step1"><a data-role="ui-accordion-btn" class="close closed" href="javascript:void(0);"><span><strong>STEP1. </strong>Product</span></a>
										<div data-role="ui-accordion-content" class="inarea" data-tmpl="compCat1">
											 <ul class="inner_sub">
												<li><a href="javascript:void(0)" data-iaId="2501">DDR</a><!-- <li><a href="javascript:void(0)" class="on">DDR</a> -->
													<ul>
														<!-- <li><a href="javascript:void(0)" class="active">Server DRAM</a></li> -->
														<li><a href="javascript:void(0)" data-iaId="2501">Server DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">PC DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Mobile DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Consumer DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Graphic DRAM</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">Flash Storage</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">V-NAND</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Client SSD</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Enterprise SSD </a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">eMMC</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">UFS</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">MCP</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">eMMC Based MCP</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">ePOP</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">Exynos Solution</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Application Processor</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">ModAP</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Modem/RF</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">CMOS Image Sensor</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Mobile</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Camera</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Industry</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">Display Solution</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Mobile DDI</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Panel DDI</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">Touch Controller</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501"> Security Solution</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Smartcard</a></li>
														<li><a href="javascript:void(0)" data-iaId="2501">NFC</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">Power IC</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Power IC</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)" data-iaId="2501">Bio-Processor</a>
													<ul>
														<li><a href="javascript:void(0)" data-iaId="2501">Bio-Processor</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li class="step2"><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP2. </strong>Type</span></a>
										<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat2">
											<!-- <ul>
												<li><a href="javascript:void(0)">ECC SODIMM</a></li>
												<li><a href="javascript:void(0)">LRDIMM</a></li>
												<li><a href="javascript:void(0)">RDIMM</a></li>
												<li><a href="javascript:void(0)">SODIMM</a></li>
												<li><a href="javascript:void(0)">UDIMM</a></li>
												<li><a href="javascript:void(0)">RDIMM</a></li>
												<li><a href="javascript:void(0)">VLP SODIMM</a></li>
											</ul> -->
										</div>
									</li>
									<li><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP3. </strong><!--20150623 수정-->Part No. List<!--//20150623 수정--></span></a>
										<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat3">
											<!-- <ul>
												<li><a href="javascript:void(0)" onclick="javascript:slideApply()">1GB</a></li>
												<li><a href="javascript:void(0)">2GB</a></li>
												<li><a href="javascript:void(0)">3GB</a></li>
												<li><a href="javascript:void(0)">4GB</a></li>
												<li><a href="javascript:void(0)">5GB</a></li>
												<li><a href="javascript:void(0)">6GB</a></li>
											</ul> -->
										</div>
									</li>
								</ul>
							</div>
							<!-- 20150701 바인딩 코드 수정 -->
							<script type="text/x-jquery-tmpl" id="tmpl-compCat2-inner">
							{{if typeSearchList}}
								<ul class="inner_sub">
								{{each(i, v) typeSearchList}}
									<li><a href="javascript:void(0)" data-iaid="${v.iaId}">${v.iaLoclNm}</a>
								{{if cnt > 0}}
										<ul>
								{{each(i_2, v_2) subTypeSearchList}}
									{{if v.iaId == v_2.pIaId}}
											<li><a href="javascript:void(0)" data-iaid="${v_2.iaId}">${v_2.iaLoclNm}</a></li>
									{{/if}}
								{{/each}}
										</ul>
								{{/if}}
									</li>
								{{/each}}
								</ul>
							{{else}}
								<p>No Data</p>
							{{/if}}
							</script>
							<!-- //20150701 바인딩 코드 수정 -->
							<script type="text/x-jquery-tmpl" id="tmpl-compCat3-inner">
							{{if partnoSearchList}}
								<ul data-role="ui-area-parameter">
								{{each(i, v) partnoSearchList}}
									<li><a href="javascript:void(0)" data-partno="${v.partno}">${v.partno}</a></li>
								{{/each}}
								</ul>
							{{else}}
							<p>No Data</p>
							{{/if}}
							</script>
						</div>
					</div>
					<p class="comp_sch_btn_wrap"><button class="btn-small comp_btn no_active" type="button" data-role="ui-btn-searchresult">Search</button></p>
				</div>
			</form>
		</div>
		<!--// SelectionTool Catalog -->

		<div class="filter_area">
			<!--  filter area -->
			<form class="refine toggle-content" name="filter" action="#" method="post">
				<!--  desktop-area -->
				<div class="filter-by-area desktop-area">
					<div class="filter-sort-module" data-role="ui-filter-list">
						<div class="filterby-section" data-role="ui-filter-container">
							<a href="#" class="btn-filterby link-toggled" data-role="ui-filter-toggle"><span>Filter by ( 219 )</span></a>
							<div class="product-depth-area" data-role="ui-filter-content" style="display:none;">
								<div class="filter-content" data-role="ui-filter-area">
									<div class="product-listarea">
										<!--one depth-->
										<ul class="two-depth">
											<!--looping block-->
											<li>
												<input type="checkbox" id="p-twodepth1" /><label for="p-twodepth1">Data Sheet</label>
											</li>
											<!--//looping block-->
											<li>
												<input type="checkbox" id="p-twodepth2" /><label for="p-twodepth2">Prat Number Decoder</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth3" /><label for="p-twodepth3">Solution Brief</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth4" /><label for="p-twodepth4">Device Operation & Timing Diagram</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth5" /><label for="p-twodepth5">Product Guide</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth6" /><label for="p-twodepth6">Serial Presence Detection</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth7" /><label for="p-twodepth7">Application Note</label>
											</li>
											<!--//looping block-->
											<li>
												<input type="checkbox" id="p-twodepth8" /><label for="p-twodepth8">Customer Stories</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth9" /><label for="p-twodepth9">Print Ads</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth10" /><label for="p-twodepth10">Brochure</label>
											</li>
										</ul>
										<!--one depth-->
									</div>
								</div>
								<!--select product list-->
								<div class="select-product" data-role="ui-filter-result">
								</div>
								<!--//select product list-->
				
								<div class="controll-area">
									<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
									<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--//table,desktop-->
				
				<!--mobile-->
				<div class="filter-by-area mobile-area" data-role="ui-mfilter-list">
					<!--select menu-->
					<div class="sorting-area" data-role="ui-mfilter-menu">
						<a href="#" class="filterby link-toggled" data-role="ui-mfilter-toggle"><span>Filter by</span><em></em></a>
					</div>
					<!--//select menu-->
					<!--filterby menu-->
					<div class="filterby-section" data-role="ui-mfilter-content" data-tab="false" style="display:none;">
						<!--one depth-->
						<ul class="m-twodepth">
							<!--looping block-->
							<li>
								<input type="checkbox" id="p-mtwo1" /><label for="p-mtwo1">Data Sheet</label>
							</li>
							<!--//looping block-->
							<li>
								<input type="checkbox" id="p-mtwo2" /><label for="p-mtwo2">Prat Number Decoder</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo3" /><label for="p-mtwo3">Solution Brief</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo4" /><label for="p-mtwo4">Device Operation & Timing Diagram</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo5" /><label for="p-mtwo5">Product Guide</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo6" /><label for="p-mtwo6">Serial Presence Detection</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo7" /><label for="p-mtwo7">Application Note</label>
							</li>
							<!--//looping block-->
							<li>
								<input type="checkbox" id="p-mtwo8" /><label for="p-mtwo8">Customer Stories</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo9" /><label for="p-mtwo9">Print Ads</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo10" /><label for="p-mtwo10">Brochure</label>
							</li>							
						</ul>
						<!--//one depth-->
						<div class="controll-area">
							<div class="select-product" data-role="ui-mfilter-result"></div>
							<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
							<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
						</div>
					</div>
					<!--//filterby menu-->
					<!--sort by-->
					<div class="sortby-section" data-role="ui-mfilter-sort" style="display:none;">
						<ul class="sortby-list">
							<li><a href="#">More Relevant</a></li>
							<li class="active"><a href="#">Newest</a></li>
						</ul>
					</div>
					<!--//sort by-->
				</div>
				<!--//mobile-->
			</form>
			<!--  //filter area -->

			<!-- filter by jump menu  -->
			<div class="floating-jumpmenu filter_by" data-role="ui-jump-basic"> 
				<div>
					<ul>
						<li><a href="#" data-role="ui-jump-filter-filterby"><span class="btn">Filter by</span></a></li>  
					</ul>
				</div>
			</div>
			 <!-- //filter by jump menu -->

			<!-- resources -->
			<div data-role="ui-jump-target" class="module support-result-list-wrap technicalResult">
				<div class="grid-row">
					<div class="col-inner">
						<ul class="support-list-type" data-role="ui-accordion" data-tmpl="resources">
							<!-- WHITE PAPER -->
							<li>
								<a href="#" class="close expanded" data-role="ui-accordion-btn">WHITE PAPER (1)</a><!-- 펼쳐졌을때 class expanded -->
								<div class="inarea active" data-role="ui-accordion-content">
									<ul class="down-list">
										<li>
											<div class="title">Whitepaper : DDR4 LRDIMMS</div>
											<div class="date">Nov, 19, 2012</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
									</ul>
								</div>
							</li>
							<!-- //WHITE PAPER -->

							<!-- BROCHURE -->
							<li>
								<a href="#" class="close expanded" data-role="ui-accordion-btn">BROCHURE (2)</a>
								<div class="inarea active" data-role="ui-accordion-content">
									<ul class="down-list">
										<li>
											<div class="title">Samsung DDR4 SDRAM</div>
											<div class="date">23 Apr, 2015</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
										<li>
											<div class="title">Samsung DDR4 SDRAM</div>
											<div class="date">23 Apr, 2015</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
									</ul>
								</div>
							</li>
							<!-- //BROCHURE -->

							<!-- PRODUCT GUIDE -->
							<li>
								<a href="#" class="close expanded" data-role="ui-accordion-btn">PRODUCT GUIDE (1)</a>
								<div class="inarea active" data-role="ui-accordion-content">
									<ul class="down-list">
										<li>
											<div class="title">DDR4 Product Guide</div>
											<div class="date">23 Apr, 2015</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
									</ul>
								</div>
							</li>
							<!-- //PRODUCT GUIDE -->

							<!-- APPLICATION NOTE -->
							<li>
								<a href="#" class="close expanded" data-role="ui-accordion-btn">APPLICATION NOTE (3)</a>
								<div class="inarea active" data-role="ui-accordion-content">
									<ul class="down-list">
										<li>
											<div class="title">DDR3L Voltage/Speed Bin composition V.1.1</div>
											<div class="date">Nov, 29, 2012</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
										<li>
											<div class="title">DDR3 VrefDQ and VrefCA Signal Wavefom</div>
											<div class="date">Mar, 01, 2010</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
										<li>
											<div class="title">DDR2 VID vs DDR3 VSEH_VSEL Comparision</div>
											<div class="date">Feb, 01, 2010</div>
											<div class="download"><a href="#" class="btn down">Download</a></div>
										</li>
									</ul>
								</div>
							</li>
							<!-- //APPLICATION NOTE -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--  //.filter_area -->
		<script type="text/x-jquery-tmpl" id="tmpl-resources-inner">		
		{{if resourcesList}}
			{{each resourcesList}}
			<li>
					<a href="javacript:void(0);" class="close closed" data-role="ui-accordion-btn">${listTitle} (${listContents.length})</a><!-- 펼쳐졌을때 class expanded -->
					<div class="inarea" data-role="ui-accordion-content">
						<ul class="down-list">
							{{each listContents}}
								<li>
										<div class="title">${title}</div>
										<div class="down-cont">${des}</div>
										<div class="date">${date}</div>
										<div class="download"><a href=${url} class="btn down">Download</a></div>
									</li>
							{{/each}}
						</ul>
					</div>
			</li>
			{{/each}}
		{{else}}
			<p>데이타 없다.</p>
		{{/if }}
		</script>
		<!-- //resources -->
   
		<!-- 20150701 검색결과없음 추가 -->
		<!--  no results -->
		<div class="module no-result-area" style="display:none;">
			<div class="grid-row grid-col">
				<p class="tit fg-main1 tit-area">Sorry, no results were found.</p>
			</div>
		</div>
		<!--  //no results -->
		<!-- //20150701 검색결과없음 추가 -->

	<!-- //contents wrapper -->


<!-- pathindicatorENG -->
<p style="display:none" id="pathindicatorENG">
	<a>Semiconductor</a>
	<a>Support</a>
	<a>Technical Resources</a>
</p>
<!-- //pathindicatorENG -->
<input id="pageTrack" name="pageTrack" type="hidden" value="semiconductor support type landing"/>

<input id="group" name="group" type="hidden"  value="" />
<input id="type" name="type" type="hidden" value="" />
<input id="subtype" name="subtype" type="hidden" value="" />
<input id="subsubtype" name="subsubtype" type="hidden"value="" />

<input id="product_id" name="product_id" type="hidden" value=" ">
<input id="product_partnumber" name="product_display_name"  type="hidden" value="">
<input id="product_display_name" name="product_display_name"  type="hidden" value="">

<input id="insight_id" name="pvi_project_code" type="hidden" value="">
<input id="insight_title" name="resource_id" type="hidden" value="">


<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->