<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->

	<!-- 페이지별 css link,js -->
	<script src="/semiconductor/common/js/page/supportSelectionTool.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/support.css">
	<!-- //페이지별 css link,js -->

	<title>Selection Tool | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="Selection Tool | Samsung Semiconductor Global"/>
	<meta name="description" content="Samsung Strives to match its world-class product with world-class support. Below you can search for information on products."/>
	<meta name="keywords" content="selection tool, samsung, samsung.com, samsung electronics, semiconductor, samsung website"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>
		<!-- static type key visual -->
		<!--20150625 수정--><div class="top-visual-area short-type" data-role="ui-visual-area"><!--//20150625 수정-->
			<img class="kv-bg" src="/semiconductor/common/img/skin/top_visual_01.jpg" alt="" />
			<div class="inarea">
				<div class="info">
					<h1>Selection Tool</h1>
					<p>Samsung Strives to match its world-class product with world-class support. Below you can search for information on products.</p>
					<!--<div class="btn-area">
						<button type="button" title="New window opens" class="btn-share type2 btn-type1" data-role="ui-btn-share"><span>Share</span></button>
					</div>-->
				</div>
			</div>
		</div>
		<!-- //static type key visual -->

		<!-- SelectionTool Catalog -->
		<div class="module comp_wrap selectCat_wrap catagory-zone">
			<form action="#" method="post" name="comp_f" >
				<div class="grid-row noMobile" >
					<div class="grid-col col-inner">
						<div class="ui-filter-menu selectionTool-wrap" data-role="ui-tab-category">
							<div data-role="ui-tab-list">
								<ul data-role="ui-accordion" class="support-list-type">
									<li class="step1"><a data-role="ui-accordion-btn" class="close closed" href="javascript:void(0);"><span><strong>STEP1. </strong>Product</span></a>
										<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat1">
											 <ul class="inner_sub">
												<li><a href="javascript:void(0)">DDR</a><!-- <li><a href="javascript:void(0)" class="on">DDR</a> -->
													<ul>
														<!-- <li><a href="javascript:void(0)" class="active">Server DRAM</a></li> -->
														<li><a href="javascript:void(0)" data-iaId="757">Server DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="757">PC DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="757">Mobile DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="757">Consumer DRAM</a></li>
														<li><a href="javascript:void(0)" data-iaId="757">Graphic DRAM</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">Flash Storage</a>
													<ul>
														<li><a href="javascript:void(0)">V-NAND</a></li>
														<li><a href="javascript:void(0)">Client SSD</a></li>
														<li><a href="javascript:void(0)">Enterprise SSD </a></li>
														<li><a href="javascript:void(0)">eMMC</a></li>
														<li><a href="javascript:void(0)">UFS</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">MCP</a>
													<ul>
														<li><a href="javascript:void(0)">eMMC Based MCP</a></li>
														<li><a href="javascript:void(0)">ePOP</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">Exynos Solution</a>
													<ul>
														<li><a href="javascript:void(0)">Application Processor</a></li>
														<li><a href="javascript:void(0)">ModAP</a></li>
														<li><a href="javascript:void(0)">Modem/RF</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">CMOS Image Sensor</a>
													<ul>
														<li><a href="javascript:void(0)">Mobile</a></li>
														<li><a href="javascript:void(0)">Camera</a></li>
														<li><a href="javascript:void(0)">Industry</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">Display Solution</a>
													<ul>
														<li><a href="javascript:void(0)">Mobile DDI</a></li>
														<li><a href="javascript:void(0)">Panel DDI</a></li>
														<li><a href="javascript:void(0)">Touch Controller</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)"> Security Solution</a>
													<ul>
														<li><a href="javascript:void(0)">Smartcard</a></li>
														<li><a href="javascript:void(0)">NFC</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">Power IC</a>
													<ul>
														<li><a href="javascript:void(0)">Power IC</a></li>
													</ul>
												</li>
												<li><a href="javascript:void(0)">Bio-Processor</a>
													<ul>
														<li><a href="javascript:void(0)">Bio-Processor</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</li>
									<li class="step2"><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP2. </strong>Type</span></a>
										<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat2"></div>
									</li>
									<li class="step3"><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP3. </strong>Parameter &amp; Value</span></a>
										<div>
											<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat3">
												<!-- <ul>
													<li><a href="javascript:void(0)" onclick="javascript:slideApply()">1GB</a></li>
													<li><a href="javascript:void(0)">2GB</a></li>
													<li><a href="javascript:void(0)">3GB</a></li>
													<li><a href="javascript:void(0)">4GB</a></li>
													<li><a href="javascript:void(0)">5GB</a></li>
													<li><a href="javascript:void(0)">6GB</a></li>
												</ul> -->
											</div>
										</div>
										<div>
											<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat4">
												<!--slide-->
												<!-- <div class="slideArea">
													<div>
														<input name="value0" type="text" data-role="ui-rangeSlider" value="" />
													</div>
													<div class="chk">
														<p></p><button class="btn-type1 link">SELECT</button>
													</div>
												</div> -->
												<!--//slide-->
												<!--
													<ul>
														<li><a href="javascript:void(0)" class="active">1GB</a></li>
														<li><a href="javascript:void(0)">2GB</a></li>
														<li><a href="javascript:void(0)">3GB</a></li>
														<li><a href="javascript:void(0)">4GB</a></li>
														<li><a href="javascript:void(0)">5GB</a></li>
														<li><a href="javascript:void(0)">6GB</a></li>
													</ul>
												-->
											</div>
										</div>
									</li>
								</ul>
							</div>
							<script type="text/x-jquery-tmpl" id="tmpl-compCat1-inner">
							{{if product}}
								<ul>
								{{each(i, o) product.cat1}}
									<li><a href="javascript:void(0)">${product_name}</a>
										<ul>
											{{each(i, o) cat1_sub}}											
											<li><a href="javascript:void(0)">${cat_sub_name}</a></li>
											{{/each}}
										</ul>
									</li>
								{{/each}}
								</ul>
							{{else}}
									<p>No Data</p>
							{{/if}}
							</script>
							<!-- 20150701 바인딩 코드 수정 -->
							<script type="text/x-jquery-tmpl" id="tmpl-compCat2-inner">
							{{if typeSearchList}}
								<ul class="inner_sub">
								{{each(i, v) typeSearchList}}
									<li><a href="javascript:void(0)" data-iaid="${v.iaId}" {{if cnt <= 0}} class="noClick"{{/if}} {{if classNullFl == 'Y' }}data-class-null="true"{{/if}} >${v.iaLoclNm}</a>
										{{if cnt > 0}}
										<ul>
											{{each(i_2, v_2) subTypeSearchList}}
												{{if v.iaId == v_2.pIaId}}
											<li><a href="javascript:void(0)" data-iaid="${v_2.iaId}">${v_2.iaLoclNm}</a></li>
												{{/if}}
											{{/each}}
										</ul>
										{{/if}}
									</li>
								{{/each}}
								</ul>
							{{else}}
								<p>No Data</p>
							{{/if}}
							</script>
							<!-- //20150701 바인딩 코드 수정 -->
							<script type="text/x-jquery-tmpl" id="tmpl-compCat3-inner">
							{{if paramSearchList}}
								<ul data-role="ui-area-parameter">
								{{each(i, v) paramSearchList}}
									<li><a href="javascript:void(0)" data-iaid="${iaId}" data-paramid="${paramId}" data-slide="{{if v.rangeSrhUseFl == 'Y'}}true{{else}}false{{/if}}">${paramDispNm}</a></li>
								{{/each}}
								</ul>
							{{else}}
								<p>No Data</p>
							{{/if}}
							</script>
							
							<script type="text/x-jquery-tmpl" data-role="script-catalogueValue-slide">
								<div class="slideArea">
									<div id="sliderRange" data-role="ui-rangeSlider"></div>

									<ul class="sliderLabel">

									{{each(i) specRangeSearchList}}

									<li>${paramVal}</li>

									{{/each}}

									</ul>

									<div class="sliderChk">
										<p><em></em></p><button class="btn-type1 link" data-role="ui-btn-addparameter">Select</button>
									</div>
								</div>
							</script>
							<script type="text/x-jquery-tmpl" data-role="script-catalogueValue-checkbox">
								<ul>
									{{each(i) specSearchList}}

									<li><input type="checkbox" name="" id="${specVal}" value="${specVal}" data-role="ui-chk-value" /><label for="${specVal}">${specVal}</label></li>

									{{/each}}
								</ul>
							</script>
							
						</div>
						<!--select product list-->
						<div class="selected">
							<div class="select-product" data-role="ui-filter-result-param">
							</div>
							<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all-param" style="display:none">Clear all</a>
						</div>
						<!--//select product list-->
					</div>
					<p class="comp_sch_btn_wrap"><button class="btn-small comp_btn no_active" type="button" data-role="ui-btn-searchresult">Search</button></p>
				</div>
			</form>
		</div>
		<!--// SelectionTool Catalog -->
		
		<!-- 20150624 Computing Device 삭제 -->
		<!--  filter area -->
		<div class="filter_area">
			<form class="refine toggle-content" name="filter" action="#" method="post">
				<!--  desktop-area -->
				<div class="filter-by-area desktop-area">
					<div class="filter-sort-module" data-role="ui-filter-list">
						<div class="filterby-section" data-role="ui-filter-container">
							<a href="#" class="btn-filterby link-toggled" data-role="ui-filter-toggle"><span>Filter by ( 219 )</span></a>
							<div class="product-depth-area" data-role="ui-filter-content" style="display:none;">
								<div class="filter-content" data-role="ui-filter-area">
									<div class="product-listarea">
										<!--one depth-->
										<ul class="two-depth">
											<!--looping block-->
											<li>
												<input type="checkbox" id="p-twodepth1"><label for="p-twodepth1">Data Sheet</label>
											</li>
											<!--//looping block-->
											<li>
												<input type="checkbox" id="p-twodepth2"><label for="p-twodepth2">Mobile Devices</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth3"><label for="p-twodepth3">Consumer Devices</label>
											</li>
											<li>
												<input type="checkbox" id="p-twodepth4"><label for="p-twodepth4">IoT</label>
											</li>
											<!--//looping block-->
										</ul>
										<!--one depth-->
									</div>
								</div>
								<!--select product list-->
								<div class="select-product" data-role="ui-filter-result">
								</div>
								<!--//select product list-->
				
								<div class="controll-area">
									<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
									<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--//table,desktop-->
				
				<!--mobile-->
				<div class="filter-by-area mobile-area" data-role="ui-mfilter-list">
					<!--select menu-->
					<div class="sorting-area" data-role="ui-mfilter-menu">
						<a href="#" class="filterby link-toggled" data-role="ui-mfilter-toggle"><span>Filter by</span><em></em></a>
					</div>
					<!--//select menu-->
					<!--filterby menu-->
					<div class="filterby-section" data-role="ui-mfilter-content" data-tab="false" style="display:none;">
						<!--one depth-->
						<ul class="m-twodepth">
							
							<!--looping block-->
							<li>
								<input type="checkbox" id="p-mtwo1"><label for="p-mtwo1">Data Sheet</label>
							</li>
							<!--//looping block-->
							<li>
								<input type="checkbox" id="p-mtwo2"><label for="p-mtwo2">Mobile Devices</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo3"><label for="p-mtwo3">Computing Device</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo4"><label for="p-mtwo4">Consumer Devices</label>
							</li>
							<li>
								<input type="checkbox" id="p-mtwo5"><label for="p-mtwo5">IoT</label>
							</li>
							<!--//looping block-->
							
						</ul>
						<!--//one depth-->

						<div class="controll-area">
							<div class="select-product" data-role="ui-mfilter-result"></div>
							<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
							<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
						</div>
					</div>
					<!--//filterby menu-->
					<!--sort by-->
					<div class="sortby-section" data-role="ui-mfilter-sort" style="display:none;">
						<ul class="sortby-list">
							<li><a href="#">More Relevant</a></li>
							<li class="active"><a href="#">Newest</a></li>
						</ul>
					</div>
					<!--//sort by-->
				</div>
				<!--//mobile-->
			</form>
		</div>
		<!--  //filter area -->

		<!-- filter by jump menu  -->
		<div class="floating-jumpmenu filter_by" data-role="ui-jump-basic"> 
			<div>
				<ul>
					<li><a href="#" data-role="ui-jump-filter-filterby"><span class="btn" onclick="sendClickCode('jumpto','jump to:filter');">Filter by</span></a></li>  
				</ul>
			</div>
		</div>
		 <!-- //filter by jump menu -->


		<!--searchResult-->
		<div class="module">
			<div class="grid-row">
				<p class="sec-title2">Results for <span data-role="ui-title-resultfor"></span></p>
				<div class="col-inner selectionToolList" data-tmpl="selectionToolList" >
					
				</div>

				<p class="col-inner resultList-btns" style="display:none;">
					<button class="btn-type1 link compare" type="button" data-role="ui-btn-compare">Compare</button>
					<button class="btn-type1 link" type="button" data-role="ui-btn-export">Export</button>
				</p>
			</div>
		</div>

		<div class="ui-layer-compare" data-role="ui-layer-compare" style="display:none;" data-maxWidth="682">
			<h2 class="pop-tit">COMPARISON </h2>
			<div class="des"  data-tmpl="catalogueCompare">
			</div>
			<a href="#" class="btn-close" data-role="ui-close-compare"><span class="blind">Close Window</span></a>
		</div>

		<!-- 20150701 검색결과없음 추가 -->
		<!--  no results -->
		<div class="module no-result-area" style="display:none">
			<div class="grid-row grid-col">
				<p class="tit fg-main1 tit-area">Sorry, no results were found.</p>
			</div>
		</div>
		<!--  //no results -->
		<!-- //20150701 검색결과없음 추가 -->

		<!--//searchResult-->
	<!-- //contents wrapper -->


<!-- pathindicatorENG -->
<p style="display:none" id="pathindicatorENG">
	<a>Semiconductor</a>
	<a>Support</a>
	<a>SelectionTool</a>
</p>
<!-- //pathindicatorENG -->
<input id="pageTrack" name="pageTrack" type="hidden" value="semiconductor support type landing"/>

<input id="group" name="group" type="hidden"  value="" />
<input id="type" name="type" type="hidden" value="" />
<input id="subtype" name="subtype" type="hidden" value="" />
<input id="subsubtype" name="subsubtype" type="hidden"value="" />

<input id="product_id" name="product_id" type="hidden" value=" ">
<input id="product_partnumber" name="product_display_name"  type="hidden" value="">
<input id="product_display_name" name="product_display_name"  type="hidden" value="">

<input id="insight_id" name="pvi_project_code" type="hidden" value="">
<input id="insight_title" name="resource_id" type="hidden" value="">


<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->