**/downloads
**/jp/download
**/downloads.zip
download.zip
tmpCheckDiff.eqFTPtmp
semiconductor - 복사본/
semiconductor.zip
semiconductor/minisite/jp/index_bak.html
semiconductor/minisite/ssd/download/consumer1.html
semiconductor/minisite/ssd/download/documents1.html
semiconductor/minisite/ssd/index_bak.html
