<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->

	<!-- 페이지별 css link,js -->
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/application.css">
	<script src="/semiconductor/common/js/page/application.js"></script>
	<script>
	var GLOBAL_IA_ID = '2519';
	</script>
	<!-- //페이지별 css link,js -->

	<title>상세 타이틀 입력 필요 | Application | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="상세 타이틀 입력 필요 | Application | Samsung Semiconductor Global"/>
	<meta name="description" content="Description 입력 필요"/>
	<meta name="keywords" content="키워드 입력 필요"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>
		
		<!-- 컨텐츠 영역 -->
		<!--key visual -->
		<div class="key-visual" data-role="ui-flick" data-autoplay="Y">
			<div data-role="ui-flick-container">
				<ul class="item4"  data-role="ui-flick-content">		<!-- class:"item"+slide item sum -->
					<li>
						<div class="screen movie">
                        <img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2"></span>
						</div>
					</li>
					<!-- video(youtube player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
                    <li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
				</ul>
			</div>
			<!-- 2개 이상일때 출력 -->
			<div class="ctl-carousel">
				<button type="button" class="prev" data-role="ui-flick-prev"><span class="blind">previous</span></button>
				<button type="button" class="pause" data-role="ui-flick-auto"><span class="blind">pause</span></button>
				<button type="button" class="next" data-role="ui-flick-next"><span class="blind">next</span></button>
				<ul data-role="ui-flick-navigate">		<!-- slide 수많큼 li,button 추가 -->
					<li class="current">
						<button type="button"><span class="blind">slide 1</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 2</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 3</span></button>
					</li>
                    <li>
						<button type="button"><span class="blind">slide 4</span></button>
					</li>
				</ul>
			</div>
		</div>
		<!-- //key visual -->

		<!-- fixed jump menu -->
		<div class="floating-jumpmenu pdp lone" data-role="ui-jump">
			<p class="product-title"><span>Application Server</span></p>
			<button type="button" data-role="ui-tab-jump-btn">Overview</button><!-- 첫번째 section의 title -->
			<!-- 
			<span class="btn-jump-wrap">
				<a href="javascript:;" class="btn-jump quote" data-role="ui-btn-quote"><span class="blind-txt">Contact us</span></a>
			</span>
			-->
			<div class="second-jump" data-role="ui-jump-container"> <!-- 140904 class="second-jump" 추가 -->
				<ul data-role="ui-jump-menu">
					<li><a href="#" data-role="ui-tab-jump-menu" class="on"><span>Overview</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Selection Tool</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Related Products</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Related Links</span></a></li><!-- //20150629 추가 -->
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Related Insights</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>User tab</span></a></li>
				</ul>
			</div>
		</div>
		<!-- //fixed jump menu -->

		<!-- overview -->
		<div data-role="ui-jump-target" class="module feature-module">
			<!-- feature -->

			<!-- row -->
			<div class="grid-row">
				<div class="featurebox col-inner">
					<!-- Head Copy -->
					<div class="insection head-copy">
						<h2>Less energy. More Speed.</h2>
						<div>Samsung's innovative Memoty Solutions help today's business meet the growing demand of computing power and performance while reducing both cost and environmentai impact.</div>
					</div>
					<!-- //Head Copy -->
				</div>
			</div>
			<!-- //row -->

			<!-- row -->
			<div class="grid-row">
				<div class="featurebox col-inner">
					<!-- Text Only -->
					<div class="insection text-only">
						<div class="info-txt">
							<div class="title">Server</div>
							<div class="des">
								Computer servers today power multiple applications, such as hosting web sites, storing data online, and running enterprise applications. Servers also enable critical and convenient applications to run, from online banking and shopping to e-commerce. The dependability on servers and the necessity to have them running 24x7 is increasing at a rapid pace with growing Internet penetration. The most reliable servers are designed using a dependable architecture and configured with the highest quality components.<br />
								Samsung is the worldwide leader in providing the latest and most advanced technologies that power today's computing devices. For servers across all segments, Samsung has all the subcomponents needed to build dependable, reliable, and scalable systems.The following block diagram illustrates the architecture of a typical server employing a dual-core CPU.
							</div>
						</div>
					</div>
					<!-- //Text Only -->
				</div>
			</div>
			<!-- //row -->
			
			<!-- row -->
			<div class="grid-row">
				<div class="featurebox col-inner">
					<!-- Text + Image (Up to down) -->
					<div class="insection">
						<div class="info-txt">
							<div class="title">Block Diagram</div>
							<div class="des">
								The block diagram highlights the main components of the server:<br />
								- The 2 processor (CPU) cores along with the bus that connects the cores, such as QPI (QuickPath Interconnect)<br />
								- Memory used by the processor cores<br />
								- External interfaces, such as PCIe 3.0 buses, provided for each processor core<br />
								- Storage used by each processor core
							</div>
						</div>
						<div class="img-area">
							<img src="/semiconductor/common/img/@temp/@temp-feature-01.png" alt="" />
						</div>
					</div>
					<!-- //Text + Image (Up to down) -->
				</div>
			</div>
			<!-- //row -->
			<!-- //feature -->

			<!-- banner area -->
			<div class="module">
				<div class="grid-row">
					<div class="col-inner overview-banner bg-main5">
						<img src="/semiconductor/common/img/@temp/@temp-banner-02.jpg" alt="Samsung GREEN MEMORY">
						<div>
							<h2>Samsung Green Memory</h2>
							<p class="fg-main2-tint2">Samsung's innovative green memory solutions help today's business meet the growing demand for computing power and  performance while reducing both coast and enviromental impact.</p>
							<a href="" class="btn link">Link</a>
						</div>
					</div>
				</div>
			</div>
			<!-- //banner area -->
		</div>
		<!-- //overview -->

		<!-- selectionTool -->
		<!--20150629  수정-->
		<div data-role="ui-jump-target" class="module">
				<div class="grid-row"><div class="col-inner">
					<h2 class="sec-title">Selection Tool</h2>
				</div></div>
				
				<div class="grid-row comp_wrap selectCat_wrap catagory-zone">						
						<!--selection-->
						<form action="#" method="post" name="comp_f" >
							<div class="noMobile" >
								<div class="col-inner">
									<div class="ui-filter-menu selectionTool-wrap" data-role="ui-tab-category">
										<div data-role="ui-tab-list">
											<ul data-role="ui-accordion" class="support-list-type">
												<li class="step1"><a data-role="ui-accordion-btn" class="close closed" href="javascript:void(0);"><span><strong>STEP1. </strong>Product</span></a>
													<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat1">
														 <ul class="inner_sub">
															<li><a href="javascript:void(0)">DDR</a><!-- <li><a href="javascript:void(0)" class="on">DDR</a> -->
																<ul>
																	<!-- <li><a href="javascript:void(0)" class="active">Server DRAM</a></li> -->
																	<li><a href="javascript:void(0)" data-iaId="757">Server DRAM</a></li>
																	<li><a href="javascript:void(0)" data-iaId="757">PC DRAM</a></li>
																	<li><a href="javascript:void(0)" data-iaId="757">Mobile DRAM</a></li>
																	<li><a href="javascript:void(0)" data-iaId="757">Consumer DRAM</a></li>
																	<li><a href="javascript:void(0)" data-iaId="757">Graphic DRAM</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">Flash Storage</a>
																<ul>
																	<li><a href="javascript:void(0)">V-NAND</a></li>
																	<li><a href="javascript:void(0)">Client SSD</a></li>
																	<li><a href="javascript:void(0)">Enterprise SSD </a></li>
																	<li><a href="javascript:void(0)">eMMC</a></li>
																	<li><a href="javascript:void(0)">UFS</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">MCP</a>
																<ul>
																	<li><a href="javascript:void(0)">eMMC Based MCP</a></li>
																	<li><a href="javascript:void(0)">ePOP</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">Exynos Solution</a>
																<ul>
																	<li><a href="javascript:void(0)">Application Processor</a></li>
																	<li><a href="javascript:void(0)">ModAP</a></li>
																	<li><a href="javascript:void(0)">Modem/RF</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">CMOS Image Sensor</a>
																<ul>
																	<li><a href="javascript:void(0)">Mobile</a></li>
																	<li><a href="javascript:void(0)">Camera</a></li>
																	<li><a href="javascript:void(0)">Industry</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">Display Solution</a>
																<ul>
																	<li><a href="javascript:void(0)">Mobile DDI</a></li>
																	<li><a href="javascript:void(0)">Panel DDI</a></li>
																	<li><a href="javascript:void(0)">Touch Controller</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)"> Security Solution</a>
																<ul>
																	<li><a href="javascript:void(0)">Smartcard</a></li>
																	<li><a href="javascript:void(0)">NFC</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">Power IC</a>
																<ul>
																	<li><a href="javascript:void(0)">Power IC</a></li>
																</ul>
															</li>
															<li><a href="javascript:void(0)">Bio-Processor</a>
																<ul>
																	<li><a href="javascript:void(0)">Bio-Processor</a></li>
																</ul>
															</li>
														</ul>
													</div>
												</li>
												<li class="step2"><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP2. </strong>Type</span></a>
													<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat2">
														<!-- <ul>
															<li><a href="javascript:void(0)">ECC SODIMM</a></li>
															<li><a href="javascript:void(0)">LRDIMM</a></li>
															<li><a href="javascript:void(0)">RDIMM</a></li>
															<li><a href="javascript:void(0)">SODIMM</a></li>
															<li><a href="javascript:void(0)">UDIMM</a></li>
															<li><a href="javascript:void(0)">RDIMM</a></li>
															<li><a href="javascript:void(0)">VLP SODIMM</a></li>
														</ul> -->
													</div>
												</li>
												<li class="step3"><a data-role="ui-accordion-btn" class="close dimmed closed" href="javascript:void(0);"><span><strong>STEP3. </strong>Parameter &amp; Value</span></a>
													<div>
														<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat3">
															<!-- <ul>
																<li><a href="javascript:void(0)" onclick="javascript:slideApply()">1GB</a></li>
																<li><a href="javascript:void(0)">2GB</a></li>
																<li><a href="javascript:void(0)">3GB</a></li>
																<li><a href="javascript:void(0)">4GB</a></li>
																<li><a href="javascript:void(0)">5GB</a></li>
																<li><a href="javascript:void(0)">6GB</a></li>
															</ul> -->
														</div>
													</div>
													<div>
														<div data-role="ui-accordion-content" class="inarea"  data-tmpl="compCat4">
															<!--slide-->
															<!-- <div class="slideArea">
																<div>
																	<input name="value0" type="text" data-role="ui-rangeSlider" value="" />
																</div>
																<div class="chk">
																	<p></p><button class="btn-type1 link">SELECT</button>
																</div>
															</div> -->
															<!--//slide-->
														<!--
															<ul>
																<li><a href="javascript:void(0)" class="active">1GB</a></li>
																<li><a href="javascript:void(0)">2GB</a></li>
																<li><a href="javascript:void(0)">3GB</a></li>
																<li><a href="javascript:void(0)">4GB</a></li>
																<li><a href="javascript:void(0)">5GB</a></li>
																<li><a href="javascript:void(0)">6GB</a></li>
															</ul>
														-->
														</div>
													</div>
												</li>
											</ul>
										</div>
										<script type="text/x-jquery-tmpl" id="tmpl-compCat1-inner">
										{{if product}}
											<ul>
											{{each(i, o) product.cat1}}
												<li><a href="javascript:void(0)">${product_name}</a>
													<ul>
														{{each(i, o) cat1_sub}}											
														<li><a href="javascript:void(0)">${cat_sub_name}</a></li>
														{{each(i, o) product.cat1}}
													</ul>
												</li>
											{{/each}}
											</ul>
										{{else}}
												<p>No Data</p>
										{{/if}}
										</script>
										<!-- 20150701 바인딩 코드 수정 -->
										<script type="text/x-jquery-tmpl" id="tmpl-compCat2-inner">
										{{if typeList}}
											<ul class="inner_sub"><span>${typeList.cnt}</span>
											{{each(i, v) typeList}}
												<li><a href="javascript:void(0)" data-iaid="${v.iaId}"  {{if cnt <= 0}} class="noClick"{{/if}} {{if classNullFl == 'Y' }}data-class-null="true"{{/if}}>${v.iaLoclNm}</a>
											{{if cnt > 0}}
													<ul>
											{{each(i_2, v_2) subTypeList}}
												{{if v.iaId == v_2.pIaId}}
														<li><a href="javascript:void(0)" data-iaid="${v_2.iaId}">${v_2.iaLoclNm}</a></li>
												{{/if}}
											{{/each}}
													</ul>
											{{/if}}
												</li>
											{{/each}}
											</ul>
										{{else}}
											<p>No Data</p>
										{{/if}}
										</script>
										<!-- //20150701 바인딩 코드 수정 -->
										<script type="text/x-jquery-tmpl" id="tmpl-compCat3-inner">
										{{if parameterList}}
											<ul data-role="ui-area-parameter">
											{{each(i, v) parameterList}}
												<li><a href="javascript:void(0)" data-iaid="${iaId}" data-paramid="${paramId}" data-slide="{{if v.paramRangeUseFl == 'Y'}}true{{else}}false{{/if}}">${paramDispNm}</a></li>
											{{/each}}
											</ul>
										{{else}}
										<p>No Data</p>
										{{/if}}
										</script>
							
										<script type="text/x-jquery-tmpl" data-role="script-catalogueValue-slide">
											<div class="slideArea">
												<div id="sliderRange" data-role="ui-rangeSlider"></div>

												<ul class="sliderLabel">

												{{each(i) parameterValueList}}

												<li>${paramSpecVal}</li>

												{{/each}}

												</ul>

												<div class="sliderChk">
													<p><em></em></p><button class="btn-type1 link" data-role="ui-btn-addparameter">Select</button>
												</div>
											</div>
										</script>
										<script type="text/x-jquery-tmpl" data-role="script-catalogueValue-checkbox">
											<ul>
												{{each(i) parameterValueList}}

												<li><input type="checkbox" name="" id="chkbox_${paramSpecVal}" value="${paramSpecVal}" data-role="ui-chk-value" /><label for="chkbox_${paramSpecVal}">${paramSpecVal}</label></li>

												{{/each}}
											</ul>
										</script>
									</div>
									<!--select product list-->
									<div class="selected">
										<div class="select-product" data-role="ui-filter-result-param">
										</div>
										<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all-param" style="display:none">Clear all</a>
									</div>
									<!--//select product list-->
								</div>
								<p class="comp_sch_btn_wrap"><button class="btn-small comp_btn no_active" type="button" data-role="ui-btn-searchresult">Search</button></p>
							</div>
						</form>
						<!--//selection-->

						<!--searchResult-->
						<div class="col-inner">
							<p class="sec-title2">Results for <span data-role="ui-title-resultfor"></span></p>
							<div class="selectionToolList" data-tmpl="selectionToolList" >
									
							</div>

							<p class="resultList-btns" style="display:none;">
								<button class="btn-type1 link compare" type="button" data-role="ui-btn-compare">Compare</button>
								<button class="btn-type1 link" type="button" data-role="ui-btn-export">Export</button>
							</p>
						</div>

						<script type="text/x-jquery-tmpl" id="tmpl-selectionToolList-inner">
							{{if catalogueList}}
								<p class="sec-title">Results for <span>
									{{each(i) catalogueList.breadCrumbs}}
										{{if (i == 0)}}
											${catalogueList.breadCrumbs[i]}
										{{else}}
											&gt; ${catalogueList.breadCrumbs[i]}
										{{/if}}
									{{/each}}</span></p>
									<table class="tableType1 toolList1">
									<thead>
										<tr>			
										<th></th>
										{{each(i) catalogueList.catalogueSubTit}}
											<th><span>${catalogueList.catalogueSubTit[i]}</span></th>
										{{/each}}
										</tr>
									</thead>
									<tbody>
										{{each(i) catalogueList.catalogueContents}}
										<tr>
											<td><span><input type="checkbox" name="catalogueResult${i}" id="catalogueResult${i}"   type="" /><label for="catalogueResult${i}"></label></span></td>
											{{each(j)  catalogueList.catalogueContents[i]}}
												{{if (j == 1)}}
												{{else}}							
													<td><span>{{if (j == 0)}}<a href="${catalogueList.catalogueContents[i][1]}">{{/if}}${catalogueList.catalogueContents[i][j]}{{if (j == 0)}}</a>{{/if}}</span></td>
												{{/if}}
											{{/each}}
										</tr>
										{{/each}}
									</tbody>
									</table>				
							{{else}}
								<p>데이타가 없습니다.</p>
							{{/if}}
							</script>

							<div class="ui-layer-compare" data-role="ui-layer-compare" style="display:none;" data-maxWidth="682">
								<h2 class="pop-tit">COMPARISON </h2>
								<div class="des"  data-tmpl="catalogueCompare">
								</div>
								<a href="#" class="btn-close" data-role="ui-close-compare"><span class="blind">Close Window</span></a>
							</div>
							
							<script type="text/x-jquery-tmpl" id="tmpl-catalogueCompare-inner">		
							{{if catalogueList}}	
								<table class="CompareResult tableType1">
								<thead>
									<tr>			
									{{each(i) catalogueList.catalogueSubTit}}
										<th><span>${catalogueList.catalogueSubTit[i]}</span></th>
									{{/each}}
									</tr>
								</thead>
								<tbody>
									{{each(i) catalogueCompare}}
									<tr>
										{{each(j)  catalogueList.catalogueContents[catalogueCompare[i]]}}
											{{if (j == 1)}}
											{{else}}							
												<td><span>{{if (j == 0)}}<a href="${catalogueList.catalogueContents[catalogueCompare[i]][1]}">{{/if}}${catalogueList.catalogueContents[catalogueCompare[i]][j]}{{if (j == 0)}}</a>{{/if}}</span></td>
											{{/if}}					
										{{/each}}
									</tr>
									{{/each}}
								</tbody>
								</table>	
							{{/if}}
							</script>

						<!--//searchResult-->
				</div>
		</div>

		<!-- 20150701 검색결과없음 추가 -->
		<!--  no results -->
		<div class="module no-result-area" style="display:none;">
			<div class="grid-row grid-col">
				<p class="tit fg-main1 tit-area">Sorry, no results were found.</p>
			</div>
		</div>
		<!--  //no results -->
		<!-- //20150701 검색결과없음 추가 -->

		<!--//20150629  수정-->
		<!-- //selectionTool -->
		
		
		<!-- related products -->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">Related Products</h2>
			</div>
			
			<div class="award-news-list product-type">
				<div class="grid-row align_btn4" data-tmpl="news">
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/product/icon_category_server.png" alt="SERVER DRAM" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">SERVER DRAM</h3>
								<p data-ui-textoverflow="true">Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB</p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/product/icon_category_pc.png" alt="PC DRAM" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">PC DRAM</h3>
								<p data-ui-textoverflow="true">Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB</p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/product/icon_category_consumer.png" alt="Consumer DRAM" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Consumer DRAM</h3>
								<p data-ui-textoverflow="true">Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB</p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/product/icon_category_graphic.png" alt="Graphic DRAM" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Graphic DRAM</h3>
								<p data-ui-textoverflow="true">Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB Samsung Now Mass Producting Indstry's Most advanced 4GB</p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
				</div>
			</div>
			<div class="wrapper-act">
				<button type="button" class="btn-type2 show" title="load more news" data-role="ui-btn-news" data-type="clipped-insights" >Load more</button>
			</div>
		</div>
		<!-- 20150709 바인딩 출력코드 수정 -->
		<script type="text/x-jquery-tmpl" id="tmpl-news-inner">
		{{if relatedProductList}}
			{{each(i) relatedProductList}}
			<div class="grid-col4">
				<div class="col-inner box">
					<div class="thumb">{{if thumImg}}<img src="${semiCdnUrl}${'$'}{thumImg}" alt="" />{{else}}<img src="/semiconductor/common/img/layout/blank_img.jpg" alt="" style="min-height:192px" />{{/if}}</div>
					<div class="fluid-txt txt">
						<h3 class="tit">${'$'}{iaName}</h3>
						<p data-ui-textoverflow="true">${'$'}{kvTitle}</p>
						<a href=${'$'}{subTypeUrl} class="btn link">Read more</a>
					</div>
				</div>
			</div>
			{{/each}}
		{{/if }}
		</script>
		<!-- //20150709 바인딩 출력코드 수정 -->
		<!-- //related products -->

		<!-- 20150629 추가 -->
		<!-- related links -->
		<div data-role="ui-jump-target" class="module">
			<div class="grid-row">
				<h2 class="sec-title">Related Links</h2>
			</div>
			<div class="grid-row">
				<div class="col-inner" data-role="ui-area-related-link">
					<!---여기서부터 html 영역입니다.-->
					<div style="background:#eee; padding:20px; overflow:hidden;">
						<img src="/semiconductor/common/img/@temp/@temp-product-sub-landing-02.png" alt="" style="float:left; margin-right:20px;" />
						<h3 style="margin-bottom:10px;">Label & Code Information</h3>
						<a href="" class="btn link">Read more</a>
					</div>
					<!---//여기까지 html 영역입니다.-->
				</div>
			</div>
		</div>
		<!-- //related links -->
		<!-- //20150629 추가 -->

		<!--related insights-->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">Related Insights</h2>
			</div>
			
			<div class="grid-row align_btn4">
								
				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div>
							<div class="fluid-txt txt">
								<span class="cat">News</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a insight-id="3279" target="_self" title="Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall Read more" class="btn link" onclick="_ls_func_omni_1409019954302($(this), 'news', '3279', 'Read more'); return true;" href="/uk/business/insights/news/code-club-and-samsung-launch-cardiff-coding-hub-for-young-people">Read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div><!-- 20150715 class="cat-event" 삭제 -->
							<div class="fluid-txt txt">
								<span class="cat">Event</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<button type="button" class="btn video_down" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1">Play video</button>
											<a href="" class="btn pdf_down">Download PDF</a>
										</div>
									</div>
								</div>
							</div>
							<p class="out_link_ico"><a href="#">out link</a></p><!-- //20150715 out_link_ico 추가 -->
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div>
							<div class="fluid-txt txt">
								<span class="cat">News</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a href="" class="btn pdf_down">Download PDF</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div><!-- 20150715 class="cat-event" 삭제 -->
							<div class="fluid-txt txt">
								<span class="cat">Event</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a insight-id="3279" target="_self" title="Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall Read More" class="btn link" onclick="_ls_func_omni_1409019954302($(this), 'news', '3279', 'read more'); return true;" href="/uk/business/insights/news/code-club-and-samsung-launch-cardiff-coding-hub-for-young-people">Read more</a>
										</div>
									</div>
								</div>
							</div>
							<p class="out_link_ico"><a href="#">out link</a></p><!-- //20150715 out_link_ico 추가 -->
						</div>
					</div>
				</div>

			</div>
			
			<div class="wrapper-act">
				<form action="/HQ/b2b4/solution/landing/industrial-std.page?submit=true&amp;componentID=1409019954302" method="POST">
				<input value="solutions-services|industry-solutions" name="iaUrlPath" type="hidden"><button onclick="_ls_func_1409019954302($(this));" title="Load more related insights list" class="btn-type2 link" type="button">See all insights</button>
				</form>
			</div>
				<script type="text/javascript">
					function _ls_func_1409019954302(obj){
						sendClickCode('view_more','see all:related insights');
						var form = obj.parents("form");
						form.attr("action","/uk/business/insights/");
						form.submit();
					}
					
					function _ls_func_omni_1409019954302(obj, type, id, title){
						if(obj.hasClass("link")){
							sendClickCode('b2b_insights_related', "related insights|insights:"+type+":"+id+":"+title);
						}else{
							var src = obj.attr("href");
							src = src.substring(src.lastIndexOf("/")+1);
							sendClickCode('b2b_insights_related_download', "related insights|insights:"+type+":"+id+":"+title+"|"+src);
						}
					}
				</script>
		</div>
		<!--//related insights-->

		<!-- user tab -->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">User tab</h2>
			</div>

			<div class="grid-row">
				<div class="col-inner">
					<!---여기서부터 html 영역입니다.-->

					<!---//여기까지 html 영역입니다.-->
				</div>
			</div>
		</div>
		<!-- //user tab -->
		<!-- //컨텐츠 영역 -->


    </div>
	<!-- //contents wrapper -->
<!-- pathindicatorENG -->
<p style="display:none" id="pathindicatorENG">
	<a>Semiconductor</a>
	<a>application</a>
</p>
<!-- //pathindicatorENG -->
<input id="pageTrack" name="pageTrack" type="hidden" value="semiconductor application subtype landing"/>

<input id="group" name="group" type="hidden"  value="" />
<input id="type" name="type" type="hidden" value="" />
<input id="subtype" name="subtype" type="hidden" value="" />
<input id="subsubtype" name="subsubtype" type="hidden"value="" />

<input id="product_id" name="product_id" type="hidden" value=" ">
<input id="product_partnumber" name="product_display_name"  type="hidden" value="">
<input id="product_display_name" name="product_display_name"  type="hidden" value="">

<input id="insight_id" name="pvi_project_code" type="hidden" value="">
<input id="insight_title" name="resource_id" type="hidden" value="">
<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->