@charset "utf-8";

div.contactus{margin-top:-23px; padding-bottom:60px;}
div.contactus div.grid-row{overflow:hidden;}
div.contactus div.col-inner h2.tit{font-size:36px;font-size:2rem; padding:20px 20px 0;}

div.contactus-area{padding:0 20px 20px;}
div.contactus-area div.info-section,div.contactus-area p{margin-bottom:30px;}
div.contactus-area span.tit{font-family: 'SamsungIFBd'; display:block;;font-size:18px;font-size:1rem;}

div.welcome-img{width:100%; text-align:left; padding:15px 0;}

/* partner */
.partner {margin-top:30px}
.partner-step-content h2 {font-size:28px;}
.partner .benefit {padding-bottom:40px}
.partner .benefit-list li {width:33.333%}

.partner-step-content .col-inner {padding:20px}

.partner-step-content .col-inner .tit-area h2 {font-family:'SamsungIFBd'}
.partner-step-content .col-inner .sub {margin-top:10px; padding-top:10px; border-top:1px solid #adadad}
.partner-step-content .col-inner .sub + a {display:inline-block; margin-top:15px; font-size:18px; font-family:'SamsungIFBd'}
.partner-step-content .col-inner .input {margin-top:15px}
.partner-step-content .col-inner .input select {width:31%; height:38px; vertical-align:middle}

.sub-input {margin-top:15px}
.sub-input .step-select {width:468px; height:40px; margin-top:10px; margin-right:6px; vertical-align:middle; box-sizing:border-box}
.sub-input .btn-type1 {margin-top:10px}

/* // partner */

.finance-content {background:#f1f1f1; margin-top:-40px; padding-top:20px}
@media (max-width:767px) {
	.finance-content {margin-top:-30px}
	.sub-input {margin-top:0}
	.sub-input .step-select {display:block; width:100%}
	.sub-input .btn-type1 {width:100%}
}

/* parking */
.etc-pages {padding:150px 0; height:100%; padding-left:10px; padding-right:10px}
.etc-pages h2 {font-size:28px}
.parking {position:relative; margin: 0 auto; margin-top:40px; margin-bottom:40px; padding:50px 28px 0; max-width: 870px; text-align:center;}
.parking .parking-main {display:block; max-width:680px; margin:0 auto}
.parking .parking-main img {width:100%}
.parking .txt-content {margin-top:10px}
.samsung-logo {position:absolute; top:0; left:28px}

@media (max-width:1023px) {
	.parking {padding:50px 10px 0}
	.samsung-logo {left:10px}
}
@media (max-width:767px){
	div.contactus div.grid-row{padding:0;}
	div.contactus div.col-inner{margin:0; padding-bottom:0;}
	div.contactus div.col-inner h2.tit{padding:14px 0 15px 10px; height:auto !important}
	div.contactus-area{margin-bottom:20px; padding:20px 10px}
	.partner-step-content h2 {font-size:20px;}
	.partner-step-content .col-inner .input select {width:100%; height:54px}
		.partner-step-content .col-inner .btn-small {width:100%; margin-top:10px}
		.etc-pages {padding:0}
		.etc-pages h2 {font-size:20px}
	.partner-step-content .col-inner .sub + a {font-size:16px}
}
@media (max-width:539px){
	.partner .benefit-list li {width:100%}
}

div.welcome-section{-webkit-column-count:2; -moz-column-count:2; column-count:2;}
div.welcome-section.col1 {-webkit-column-count:auto; -moz-column-count:auto; column-count:auto;}

div.benefit-section{padding:20px}
.partner .benefit {padding-bottom:30px !important}

ul.benefit-list li{width:50%; display:inline-block; margin-left:-4px; color:#0057a6; padding:15px 0; position:relative; vertical-align:top; min-height:50px;}
ul.benefit-list li span{padding-left:80px; display:block;}
ul.benefit-list li span:before {display:inline-block; width:67px; height:80px; overflow:hidden; position:absolute; top:-2%; left:0; font-family:'samsungIcon'; font-size:67px}
ul.benefit-list li.first span:before{content:'\e608'}
ul.benefit-list li.second span:before{content:'\e603'}
ul.benefit-list li.third span:before{content:'\e602'}
ul.benefit-list li.fourth span:before{content:'\e607'}
ul.benefit-list li.fifth span:before{content:'\e601'}
ul.benefit-list li.sixth span:before{content:'\e604'}

ul.stepbox{width:100%; overflow:hidden;}
ul.stepbox li{float:left; width:20%; box-sizing:border-box;}
ul.stepbox li div.in{background:#ccc; margin-left:10px; padding:20px; margin-bottom:-999999px; padding-bottom:1000024px;}
ul.stepbox li div.in.bg2{background:#d9d9d9;}
ul.stepbox li div.in.bg3{background:#e5e5e5;}
ul.stepbox li div.in.bg4{background:#f2f2f2;}
ul.stepbox li div.in.bg5{background:#f7f7f7;}
ul.stepbox li:first-child div.in{margin-left:0;}
ul.stepbox li span.tit{display:block; color:#0057a6;}

@media (min-width:768px) and (max-width:1023px){
	ul.stepbox li{float:none; width:100%;}
	ul.stepbox li div.in{margin-bottom:0; padding-bottom:20px; margin-left:0; margin-bottom:10px;}
	.grid-col2.tw100{float:none; width:100%;}
	div.benefit-section.mbgnone{background:none; padding:0;}
	div.welcome-section{-webkit-column-count:1; -moz-column-count:1; column-count:1;}
	.partner-step-content h2 {font-size:24px;}
	.etc-pages h2 {font-size:24px}
}
@media (max-width:767px){
	.partner .benefit {padding-bottom:15px !important}

	div.benefit-section{margin-bottom:0; padding-bottom:20px;}
	div.benefit-section.mbgnone{background:none; padding:0;}
	div.welcome-section{-webkit-column-count:1; -moz-column-count:1; column-count:1;}
}