	<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->
	<!-- 페이지별 css link,js -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
	<script src="/semiconductor/common/js/page/support.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/support.css">
	<!-- //페이지별 css link,js -->

	<title>Sales Network | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="Sales Network | Samsung Semiconductor Global"/>
	<meta name="description" content="Samsung Semiconductor has a long-standing presence in many on the world’s major markets and has the best geographic coverage in the semiconductor industry."/>
	<meta name="keywords" content="sales network, samsung, samsung.com, samsung electronics, semiconductor, samsung website"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>
		<!-- static type key visual -->
		<!--20150625 수정--><div class="top-visual-area short-type" data-role="ui-visual-area"><!--//20150625 수정-->
			<img class="kv-bg" src="/semiconductor/common/img/skin/top_visual_01.jpg" alt="" />
			<div class="inarea">
				<div class="info">
					<h1>SALES NETWORK</h1>
					<p>Samsung Semiconductor has a long-standing presence in many on the world’s major markets and has the best geographic coverage in the semiconductor industry</p>
					<!--<div class="btn-area">
						<button type="button" title="New window opens" class="btn-share type2 btn-type1" data-role="ui-btn-share"><span>Share</span></button>
					</div>-->
				</div>
			</div>
		</div>
		<!-- //static type key visual -->
		<!-- 20150702 헤드쿼터 수정 -->
		<div class="module fluid-txt">
			<div class="grid-row saleseNetworkHeadQuarter">
			<!-- 20150630 수정 -->
				<h2 class="sec-title">Headquarter</h2>
				<div class="col-inner fluid-txt">
					<div class="tit fg-main1">APAC / South Korea</div>
					 <!-- 20150703 코드 수정 -->
					<strong class="grid-col-sub-tit2">Samsung Electronics Co. </strong>
					<p class="addr">Giheung Campus, 95, Samsung 2-ro, Giheung-Gu, Yongin, Gyeonggi-Do KOREA</p>
					<!-- //20150703 코드 수정 -->
				</div>
			</div>			
			<!-- //20150630 수정 -->
		</div>
		<!-- 20150702 헤드쿼터 수정 -->
		<!-- REGIONAL HEADQUARTERS -->
		<div class="module article-txt regional_wrap">
			<div class="grid-row">
				<div class="sec-title">REGIONAL HEADQUARTERS</div>
			</div>
			<div class="grid-row">
				<div class="grid-colgroup">
					<!-- looping block -->
					<div class="grid-col5">
						<div class="col-inner bg-main5 box">
							<div class="fluid-txt txt">
								<div class="tit fg-main1">AMERICAS / USA</div>
								<div class="grid-col-sub-tit2" data-ui-textoverflow="true">USA SAMSUNG SEMI CONDUCTOR CO.,LTD</div>
								<div class="sub" data-ui-textoverflow="true">3655 North First Street San Jose CA 95134, U.S.A</div>
								<div class="act align">
									<div>
										<div class="left"><a class="btn link" href="#" title="AMERICAS / USA More" data-role="ui-btn-locations">Read more</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //looping block -->
					<div class="grid-col5">
						<div class="col-inner bg-main5 box">
							<div class="fluid-txt txt">
								<div class="tit fg-main1">APAC / Asia</div>
								<div class="grid-col-sub-tit2" data-ui-textoverflow="true">SAMSUNG ASIA PRIVATE LIMITED</div>
								<div class="sub" data-ui-textoverflow="true">3 Church Street, #26-01/02 Samsung Hub, Singapore 0494832222222 2 Samsung Hub, Singapore Samsung Hub, Singapore Samsung Hub, Singapore Samsung Hub, Singapore</div>
								<div class="act align">
									<div>
										<div class="left"><a class="btn link" href="#" title="AMERICAS / USA More" data-role="ui-btn-locations">Read more</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col5">
						<div class="col-inner bg-main5 box">
							<div class="fluid-txt txt">
								<div class="tit fg-main1">APAC / China</div>
								<div class="grid-col-sub-tit2" data-ui-textoverflow="true">SHANGHAI SAMSUNG SEMICONDUCTOR CO.,LTD.</div>
								<div class="sub" data-ui-textoverflow="true">20-21F, SOGO Square Building B, No 1065 Zhongshan RD (W), Changning District, Shanghai</div>
								<div class="act align">
									<div>
										<div class="left"><a class="btn link" href="#" title="AMERICAS / USA More" data-role="ui-btn-locations">Read more</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col5">
						<div class="col-inner bg-main5 box">
							<div class="fluid-txt txt">
								<div class="tit fg-main1">APAC / Japan</div>
								<div class="grid-col-sub-tit2" data-ui-textoverflow="true">JAPAN SAMSUNG ELECTRONICS CO.,LTD.</div>
								<div class="sub" data-ui-textoverflow="true">10F, Shinagawa Grand Central Tower, 2-16-4, Kounan, Minato, Tokyo 108-8240 Japan Kounan, Minato, Tokyo Japan Kounan, Minato, Tokyo Japan Kounan, Minato, Tokyo Japan Kounan, Minato, Tokyo Japan Kounan, Minato, Tokyo</div>
								<div class="act align">
									<div>
										<div class="left"><a class="btn link" href="#" title="AMERICAS / USA More" data-role="ui-btn-locations">Read more</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col5">
						<div class="col-inner bg-main5 box">
							<div class="fluid-txt txt">
								<div class="tit fg-main1">EMEA / Germany</div>
								<div class="grid-col-sub-tit2" data-ui-textoverflow="true">SAMSUNG SEMICONDUCTOR EUROPE GMBH</div>
								<div class="sub" data-ui-textoverflow="true">Kolner Str.12, 65760 Eschborn</div>
								<div class="act align">
									<div>
										<div class="left"><a class="btn link" href="#" title="AMERICAS / USA More" data-role="ui-btn-locations">Read more</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //REGIONAL HEADQUARTERS -->

		<!--  SALES BRANCH -->
		<div class="module article-txt flag_wrap salesBranch_wrap"> <!-- 20150708 class를 추가하였습니다. -->
			<div class="grid-row">
				<div class="sec-title tit_1">SALES BRANCH</div>
			</div>
			<div class="grid-row">
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_at_pop.png" class="net_flag_img" alt="" />
							<p>AUSTRALIA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_fr_pop.png" class="net_flag_img" alt="" />
							<p>FRANCE</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_jp_pop.png" class="net_flag_img" alt="" />
							<p>JAPAN</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_za_pop.png" class="net_flag_img" alt="" />
							<p>SOUTHAFRICA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_sk_pop.png" class="net_flag_img" alt="" />
							<p>SLOVAKIA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_ae_pop.png" class="net_flag_img" alt="" />
							<p>UAE</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_cn_pop.png" class="net_flag_img" alt="" />
							<p>CHINA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_uk_pop.png" class="net_flag_img" alt="" />
							<p>UNITED KINGDOM</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_kr_pop.png" class="net_flag_img" alt="" />
							<p>SOUTH KOREA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_ru_pop.png" class="net_flag_img" alt="" />
							<p>RUSSIAN FED</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_th_pop.png" class="net_flag_img" alt="" />
							<p>THAILAND</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_usa_pop.png" class="net_flag_img" alt="" />
							<p>USA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_de_pop.png" class="net_flag_img" alt="" />
							<p>GERMANY</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_in_pop.png" class="net_flag_img" alt="" />
							<p>INDIA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_my_pop.png" class="net_flag_img" alt="" />
							<p>MALAYSIA</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_se_pop.png" class="net_flag_img" alt="" />
							<p>SWEDEN</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_tr_pop.png" class="net_flag_img" alt="" />
							<p>TURKEY</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_fi_pop.png" class="net_flag_img" alt="" />
							<p>FINLAND</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_it_pop.png" class="net_flag_img" alt="" />
							<p>ITALY</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_ph_pop.png" class="net_flag_img" alt="" />
							<p>PHILIPPINES</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_sg_pop.png" class="net_flag_img" alt="" />
							<p>SINGAPORE</p>
						</a>
					</div>
				</div>				
				<div class="grid-col4">
					<div class="coll-inner">
						<a href="#" data-role="ui-btn-country">
							<img src="/semiconductor/common/img/flag_bg/flag_tw_pop.png" class="net_flag_img" alt="" />
							<p>TAIWAN</p>
						</a>
					</div>
				</div>				
			</div>
		</div>
		<!-- //SALES BRANCH -->

		<!--  DISTRIBUTORS -->
		<div class="module_wrap  distriutors">
			<div class="grid-row">
				<div class="sec-title distriutors_tit">DISTRIBUTORS</div> <!-- 20150708 타이틀 변경 -->
			</div>
			<div class="module article-txt flag_wrap">
				<div class="grid-row flag_tit_color_2">
					<div class="sec-title">AMERICAS</div>
				</div>
				<div class="grid-row">
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_br_pop.png" class="net_flag_img" alt="" />
								<p>BRAZIL</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ca_pop.png" class="net_flag_img" alt="" />
								<p>CANADA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_mx_pop.png" class="net_flag_img" alt="" />
								<p>MEXICO</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_usa_pop.png" class="net_flag_img" alt="" />
								<p>USA</p>
							</a>
						</div>
					</div>				
				</div>
			</div>
			<div class="module article-txt flag_wrap">
				<div class="grid-row flag_tit_color_2">
					<div class="sec-title">APAC</div>
				</div>
				<div class="grid-row">
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_at_pop.png" class="net_flag_img" alt="" />
								<p>AUSTRALIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_cn_pop.png" class="net_flag_img" alt="" />
								<p>CHINA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_hk_pop.png" class="net_flag_img" alt="" />
								<p>HONG KONG</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_in_pop.png" class="net_flag_img" alt="" />
								<p>INDIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_id_pop.png" class="net_flag_img" alt="" />
								<p>INDONESIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_kr_pop.png" class="net_flag_img" alt="" />
								<p>SOUTH KOREA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_my_pop.png" class="net_flag_img" alt="" />
								<p>MALAYSIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ph_pop.png" class="net_flag_img" alt="" />
								<p>PHILIPPINES</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_sg_pop.png" class="net_flag_img" alt="" />
								<p>SINGAPORE</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_jp_pop.png" class="net_flag_img" alt="" />
								<p>JAPAN</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_tw_pop.png" class="net_flag_img" alt="" />
								<p>TAIWAN</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_tha_pop.png" class="net_flag_img" alt="" />
								<p>THAILAND</p>
							</a>
						</div>
					</div>				
				</div>
			</div>
			<div class="module article-txt flag_wrap">
				<div class="grid-row flag_tit_color_2">
					<div class="sec-title">EMEA</div>
				</div>
				<div class="grid-row">
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_at_pop.png" class="net_flag_img" alt="" />
								<p>AUSTRALIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_be_pop.png" class="net_flag_img" alt="" />
								<p>BELGIUM</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_dk_pop.png" class="net_flag_img" alt="" />
								<p>DENMARK</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_kz_ru_pop.png" class="net_flag_img" alt="" />
								<p>KAZAKHSTAN</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_fi_pop.png" class="net_flag_img" alt="" />
								<p>FINLAND</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_fr_pop.png" class="net_flag_img" alt="" />
								<p>FRANCE</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_de_pop.png" class="net_flag_img" alt="" />
								<p>GERMANY</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ee_pop.png" class="net_flag_img" alt="" />
								<p>ESTONIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_hu_pop.png" class="net_flag_img" alt="" />
								<p>HUNGARY</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ie_pop.png" class="net_flag_img" alt="" />
								<p>IRELAND</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_it_pop.png" class="net_flag_img" alt="" />
								<p>ITALY</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_gr_pop.png" class="net_flag_img" alt="" />
								<p>GREECE</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_no_pop.png" class="net_flag_img" alt="" />
								<p>NORWAY</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_pl_pop.png" class="net_flag_img" alt="" />
								<p>POLAND</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_pt_pop.png" class="net_flag_img" alt="" />
								<p>PORTUGAL</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_nl_pop.png" class="net_flag_img" alt="" />
								<p>NETHERLANDS</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ru_pop.png" class="net_flag_img" alt="" />
								<p>RUSSIAN FED</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_sk_pop.png" class="net_flag_img" alt="" />
								<p>SLOVAKIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_es_pop.png" class="net_flag_img" alt="" />
								<p>SPAIN</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ro_pop.png" class="net_flag_img" alt="" />
								<p>RUMANIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_sw_pop.png" class="net_flag_img" alt="" />
								<p>SWITZERLAND</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ua_pop.png" class="net_flag_img" alt="" />
								<p>UKRAINE</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_uk_pop.png" class="net_flag_img" alt="" />
								<p>UNITED KINGDOM</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_se_pop.png" class="net_flag_img" alt="" />
								<p>SWEDEN</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_il_pop.png" class="net_flag_img" alt="" />
								<p>ISRAEL</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_sa_en_pop.png" class="net_flag_img" alt="" />
								<p>SAUDI ARABIA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_za_pop.png" class="net_flag_img" alt="" />
								<p>SOUTH AFRICA</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_tr_pop.png" class="net_flag_img" alt="" />
								<p>TURKEY</p>
							</a>
						</div>
					</div>				
					<div class="grid-col4">
						<div class="coll-inner">
							<a href="#" data-role="ui-btn-country">
								<img src="/semiconductor/common/img/flag_bg/flag_ae_ar_pop.png" class="net_flag_img" alt="" />
								<p>UNITED ARAB EMIRATES</p>
							</a>
						</div>
					</div>				
				</div>
			</div>
		</div>
		<!-- //DISTRIUTORS -->

		<!-- view location  -->
		<div class="module">
			<div class="grid-row">
				<div class="grid-col  view-location-wrap">
					<div class="coll-inner">
						<!-- 20150630 수정 -->
						For location and contact information for our manufacturing and R&D facilities.
						<button class="btn-small view-location-btn" type="button" onclick="javascript:location.href='/semiconductor/about-us/location/'; sendClickCode('content_click_count','sales network:view location'); ">
							View more
						</button>
						<!-- //20150630 수정 -->
					</div>
				</div>
			</div>
		</div>
		<!-- //view location -->

		<!--140828 event only text-->
		<div class="module sec-board-box event" style="display:none">
			<div class="grid-row">
				<h1 class="sec-title">EVENT</h1>
				<div class="grid-col">
					<a href="#" class="col-inner box bg-main1-tint2">
						<div class="fluid-txt txt">
							<div>
								<h2 class="tit">Samsung Improves Color Rendering in its LED Components</h2>
								<div class="meta">May 30, 2014</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="wrapper-act">
				<button type="button" class="btn-type2 link">See all news</button>
			</div>
		</div>
		<!-- //140828 event only -->
    </div>
	<!-- //contents wrapper -->


<!-- 20150806 popup : continent / country 레이어팝업 수정 -->
<!-- 
<div class="ui-layer-locations" data-role="ui-layer-locations" style="display:none;">
	<h2 class="pop-tit">AMERICAS/USA</h2>
	<a href="#" class="btn-close" data-role="ui-close-locations"><span class="blind">Close Window</span></a>
	<img src="/semiconductor/common/img/@temp/@temp-map.jpg" alt="map" class="img-map" />
	<div class="define-list">
		<dl>
			<dt>Address</dt>
			<dd>Batiment Strategic Only, 13-15 Rue due pont des halles, 94656, Rungis Cedex</dd>
			<dt>Tel</dt>
			<dd>+33 (0)1 56-34 60 00</dd>
			<dt>Fax</dt>
			<dd>+33 (0)1 56-34 60 05</dd>
			<dt>E-Mail</dt>
			<dd><a href="mailto:arrowcomputer@arrow.com" title="" class="fg-main1">arrowcomputer@arrow.com</a></dd>
			<dt>URL</dt>
			<dd><a href="http://www.arrowwcp.com" target="_blank" class="fg-main1">http://www.arrowwcp.com</a></dd>
			<dt>Establish Date</dt>
			<dd>2006.02.02</dd>
			<dt>R&D</dt>
			<dd>123</dd>
			<dt>Products</dt>
			<dd>Printer,Samsung Smart Signage Platform Smartphones, MagicInfo VideoWall</dd>
		</dl>
	</div>
</div>
 -->
<!-- //20150806 popup : continent / country 레이어팝업 수정 -->

<!-- 20150708 바인딩작업 -->
<!-- popup : continent / country -->
<div class="ui-layer-locations" data-role="ui-layer-locations" style="display:none;" data-tmpl="regionalPoup">

</div>

<script type="text/x-jquery-tmpl" id="tmpl-regionalPoup-inner">
	<h2 class="pop-tit">{{if natNm}}${'$'}{natNm}{{else}}&nbsp;{{/if}}</h2>
	<a href="#" class="btn-close" data-role="ui-close-locations"><span class="blind">Close Window</span></a>
	{{if filePath && fileNm}}<img src="${semiCdnUrl}${'$'}{filePath}${'$'}{fileNm}" alt="map" class="img-map" />{{else}}<img src="/semiconductor/common/img/layout/white_blank_img.jpg" alt="map" class="img-map" />{{/if}}
	<div class="define-list">
		<dl>
			{{if addr}}
			<dt>Address</dt>
			<dd>${'$'}{addr}</dd>
			{{/if}}
			{{if phoneNo}}
			<dt>Tel</dt>
			<dd>${'$'}{phoneNo}</dd>
			{{/if}}
			{{if faxNo}}
			<dt>Fax</dt>
			<dd>${'$'}{faxNo}</dd>
			{{/if}}
			{{if emailAddr}}
			<dt>E-Mail</dt>
			<dd><a href="mailto:${'$'}{emailAddr}" title="" class="fg-main1">${'$'}{emailAddr}</a></dd>
			{{/if}}
			{{if homepageUrl}}
			<dt>URL</dt>
			<dd><a href="${'$'}{homepageUrl}" target="_blank" class="fg-main1">${'$'}{homepageUrl}</a></dd>
			{{/if}}
			{{if estbYmd}}
			<dt>Establish Date</dt>
			<dd>2006.02.02</dd>
			{{/if}}			
			{{if rndField}}
			<dt>R&D</dt>
			<dd>${'$'}{rndField}</dd>
			{{/if}}
			{{if trgtPrdGrp}}
			<dt>Products</dt>
			<dd>${'$'}{trgtPrdGrp}</dd>
			{{/if}}
		</dl>
	</div>
</script>
<!-- //popup : continent / country -->

<!-- popup : country -->
<div class="ui-layer-country" data-role="ui-layer-country" style="display:none;">
	<h2 class="pop-tit"><img src="/semiconductor/common/img/flag_bg/flag_usa_pop.png" alt="USA Flag" class="net_flag_img" /> USA</h2>
	<a href="#" class="btn-close" data-role="ui-close-country"><span class="blind">Close Window</span></a>

	<!-- tab contents -->
	<div class="tap-popup-wrapper col2">
		<!-- Sales Branches -->
		<input type="radio" name="tab-country" id="tab-country-distributor" checked>
		<label for="tab-country-distributor" class="num01"><h3>Sales Branches</h3></label> <!-- 2015.6.23 타이틀 변경 -->
		<div class="tab-popup-content" data-tmpl="countryPopupTab1">
		</div>
		<!-- //Sales Branches -->

		<!-- Distributors -->
		<input type="radio" name="tab-country" id="tab-country-branch">
		<label for="tab-country-branch" class="num02"><h3>Distributors</h3></label> <!-- 2015.6.23 타이틀 변경 -->
		<div class="tab-popup-content" data-tmpl="countryPopupTab2">
		</div>
		<!-- //Distributors -->
	</div>
	<!-- //tab contents -->
</div>
<script type="text/x-jquery-tmpl" id="tmpl-countryPopupTab1-inner">
{{if sbDetailList}}
	{{each(i,obj) sbDetailList}}
		<h4 class="pop-subtitle">{{if partyNm}}${'$'}{partyNm}{{else}}&nbsp;{{/if}}</h4>
		<div class="define-list bg-main5">
			{{if filePath&&fileNm}}<img src="${'$'}{filePath}${'$'}{fileNm}" alt="" />{{else}}<img src="/semiconductor/common/img/layout/white_blank_img.jpg" alt="" />{{/if}}
			<dl>
				<dt>Address</dt><dd>{{if addr}}${'$'}{addr}{{else}}&nbsp;{{/if}}</dd>
				<dt>Tel</dt><dd>{{if phoneNo}}${'$'}{phoneNo}{{else}}&nbsp;{{/if}}</dd>
				<dt>Fax</dt><dd>{{if faxNo}}${'$'}{faxNo}{{else}} &nbsp; {{/if}}</dd>
				<dt>E-Mail</dt><dd>{{if emailAddr}}<a href="mailto:${'$'}{emailAddr}" title="" class="fg-main1">${'$'}{emailAddr}</a>{{else}}&nbsp;{{/if}}</dd>
				<dt>URL</dt><dd>{{if homepageUrl}}<a href="${'$'}{homepageUrl}" target="_blank" title="" class="fg-main1">${'$'}{homepageUrl}</a>{{else}}&nbsp;{{/if}}</dd>
			</dl>
		</div>
	{{/each}}
{{/if}}
</script>

<script type="text/x-jquery-tmpl" id="tmpl-countryPopupTab2-inner">
{{if dstDetailList}}
	{{each(i,obj) dstDetailList}}
		<h4 class="pop-subtitle">{{if partyNm}}${'$'}{partyNm}{{else}}&nbsp;{{/if}}</h4>
		<div class="define-list bg-main5">
			{{if filePath&&fileNm}}<img src="${'$'}{filePath}${'$'}{fileNm}" alt="" />{{else}}<img src="/semiconductor/common/img/layout/white_blank_img.jpg" alt="" />{{/if}}
			<dl>
				<dt>Address</dt><dd>{{if addr}}${'$'}{addr}{{else}}&nbsp;{{/if}}</dd>
				<dt>Tel</dt><dd>{{if phoneNo}}${'$'}{phoneNo}{{else}}&nbsp;{{/if}}</dd>
				<dt>Fax</dt><dd>{{if faxNo}}${'$'}{faxNo}{{else}} &nbsp; {{/if}}</dd>
				<dt>E-Mail</dt><dd>{{if emailAddr}}<a href="mailto:arrowcomputer@arrow.com" title="" class="fg-main1">${'$'}{emailAddr}</a>{{else}}&nbsp;{{/if}}</dd>
				<dt>URL</dt><dd>{{if homepageUrl}}<a href="${'$'}{homepageUrl}" target="_blank" title="" class="fg-main1">${'$'}{homepageUrl}</a>{{else}}&nbsp;{{/if}}</dd>
			</dl>
		</div>
	{{/each}}
{{/if}}
</script>
<!-- 20150708 바인딩작업 -->
<!-- //popup : country -->

<!-- pathindicatorENG -->
<p style="display:none" id="pathindicatorENG">
	<a>Semiconductor</a>
	<a>Support</a>
	<a>SalesNetwork</a>
</p>
<!-- //pathindicatorENG -->
<input id="pageTrack" name="pageTrack" type="hidden" value="semiconductor support type landing"/>

<input id="group" name="group" type="hidden"  value="" />
<input id="type" name="type" type="hidden" value="" />
<input id="subtype" name="subtype" type="hidden" value="" />
<input id="subsubtype" name="subsubtype" type="hidden"value="" />

<input id="product_id" name="product_id" type="hidden" value=" ">
<input id="product_partnumber" name="product_display_name"  type="hidden" value="">
<input id="product_display_name" name="product_display_name"  type="hidden" value="">

<input id="insight_id" name="pvi_project_code" type="hidden" value="">
<input id="insight_title" name="resource_id" type="hidden" value="">

<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->