<?php include($_SERVER['DOCUMENT_ROOT'].'/global/business/semiconductor/minisite/SSD/global/ssi/header/dochead_html5.sec')?>
<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->

<!-- 페이지별 css link,js -->
<script src="/semiconductor/common/js/page/home.js"></script>
<!-- //페이지별 css link,js -->

<title>Samsung Semiconductor</title>        <!-- unique한 페이지 title -->

<?php include($_SERVER['DOCUMENT_ROOT'].'/global/business/semiconductor/minisite/SSD/common/html/sec/semi_header.sec')?>
<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

<!-- contents wrapper -->
<div class="content-wrap">
    <div id="content">
        <span class="blind">Content</span>
    </div>
    <!-- content -->
    <?php include($_SERVER['DOCUMENT_ROOT'].'/global/business/semiconductor/minisite/SSD/global/ssi/page/event_landing_kv.sec')?>
    <div class="module sec-board-box">
        <div class="grid-row">
            contents
        </div>
    </div>
    <!-- //content -->
</div>
<!-- //contents wrapper -->
<?php include($_SERVER['DOCUMENT_ROOT'].'/global/business/semiconductor/minisite/SSD/common/html/sec/semi_footer.sec')?>
<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->
