@charset "utf-8";

@import url("pdp.css");
ul.accordion{}
	ul.accordion li{border-bottom:1px solid #ccc;}
	ul.accordion li.active{background:#0057a4; border-bottom:1px solid #004683;}
		ul.accordion li a.show{color:#0057a4; display:block; max-width:1310px; margin:0 auto; padding:17px 28px; transition-duration:0;}
		ul.accordion li a.hide{color:#fff; display:block; max-width:1310px; margin:0 auto; padding:17px 28px; transition-duration:0;}
			ul.accordion > li > a:after {position:absolute; top:50%; right:28px; font-size:12px; margin-left:5px; margin-top:-8px; vertical-align:middle;}
		ul.accordion li.active>a{color:#fff;}
		ul.accordion li.active a.hide{color:#fff;}
@media (min-width:768px) and (max-width:1023px){
	ul.accordion li a.show, ul.accordion li a.hide{padding:17px 13px;}
	ul.accordion > li > a:after {position:absolute; top:50%; right:10px; font-size:12px; margin-left:5px; margin-top:-8px; vertical-align:middle;}
}
@media (max-width:767px){
	ul.accordion li a.show, ul.accordion li a.hide{padding:15px 10px}
	ul.accordion li a.hide{padding:17px 20px; color:#fff;}
	
	ul.accordion > li > a:after {position:absolute; top:50%; right:10px; font-size:12px; margin-left:5px; margin-top:-8px; vertical-align:middle;}

	.mysales-list .per, .mysales-list .tit {width:70%}
	.mysales-list .created {position: absolute; top:15px; right:21px; width:20%; height:61%; padding-left:10px; border-left:1px solid #d7d7d7}
	.mysales-list .created > span {display:block}
}

ul.accordion li .accordion-content{background:#f1f1f1; padding:10px 0 20px;display:none}
	ul.accordion li .accordion-content .grid-outer,
	ul.accordion li .accordion-content .module {padding-bottom:0}
ul.accordion li .wrapper-act button{color:#0056a4; padding:0; background:none;}

ul.accordion li .myinfo-section{max-width:1310px; margin:0 auto; padding:0 28px;}
	ul.accordion li .myinfo-section h2{font-size:27px;font-size:1.5rem;}
div.myinfo-section{}
div.myinfo-section div.inarea{overflow:hidden; padding-bottom:30px;} 
	div.myinfo-section div.inarea.t-line{border-top:1px solid #ddd; padding:20px 0 0 0;}
	div.myinfo-section div.left-area{float:left; width:70%;}
	div.myinfo-section div.right-area{float:left; width:60%;}
	div.myinfo-section div.inarea div.btn-area{width:100%; text-align:center; clear:both; padding:20px 0 0 0;}
		div.myinfo-section p{margin:20px 0; float:left; width:50%}
		div.myinfo-section p.address{overflow:hidden;}
		div.myinfo-section span.tit{margin-right:5px;}
		div.myinfo-section span.name{font-family:'SamsungIFBd';}
		div.myinfo-section p.address span.tit{display:block; float:left;}
		div.myinfo-section p.address span.name{display:block; width:200px; float:left;}
		div.myinfo-section div.interest-section{float:left; width:33.3%;}
ul.accordion li div.myinfo-section .wrapper-act button{color:#fff; background:#0057a4; padding:0 15px; 0 20px; margin:0;}
	ul.accordion li div.myinfo-section div.interest-section ul li{border-bottom:none; color:#0057a4; margin:0 0 5px;}
	ul.accordion li div.myinfo-section div.interest-section h2{font-size:21px; font-size:1.1666rem;margin:10px 0 0 0;}
@media (min-width:768px) and (max-width:1023px){
	ul.accordion li .myinfo-section{padding:0 13px;}
	div.myinfo-section div.left-area{width:50%;}
	div.myinfo-section div.right-area{width:50%;}
}
@media (max-width:767px){
	ul.accordion li .myinfo-section{padding:0 13px;}
	div.myinfo-section div.left-area{width:100%;}
	div.myinfo-section div.right-area{width:100%;}
	ul.accordion li div.myinfo-section div.inarea div.btn-area button{width:100%;}
	div.myinfo-section p{margin:10px 0;}
	div.myinfo-section div.interest-section{width:100%; overflow:hidden;}
		div.myinfo-section div.interest-section ul li{float:left; width:50%;}
}

ul.accordion li .article-thumb .grid-row{}
	ul.accordion li .article-thumb .grid-row .col-inner{background:#fff}
	
ul.accordion li .list-thumb .grid-row .col-inner{background:#fff;}
	ul.accordion li .list-thumb .grid-row .col-inner .fluid-txt.txt{background:#fff; border:1px solid #e9e9e9;}
	
ul.accordion li .article-txt .col-inner{background:#fff}
	ul.accordion li .article-txt span.act a.btn{color:#0057a4;}
	@media (max-width:767px){
		ul.accordion li .article-txt .grid-row .fluid-txt {margin-left:15px; margin-right:15px; background:#fff; padding-top:20px;}
		ul.accordion li .article-txt .grid-row .fluid-txt {margin-left:0; margin-right:0}
	}

div.mysales-list-area{background:#f1f1f1;}
	div.mysales-list-area div.inarea{max-width:1310px; margin:0 auto; padding:25px 28px;}
table.mysales-list{width:100%; border-spacing:0;}
	table.mysales-list thead th{padding-bottom:10px;}
	table.mysales-list thead th span.tit{display:block; margin-right:10px; border-bottom:1px solid #000; padding-bottom:4px;}
	table.mysales-list thead th span.tit.last{margin-right:0;}
	table.mysales-list tbody td{padding:4px 0;}
	@media (max-width:767px){
		div.mysales-list-area div.inarea{max-width:1310px; margin:0 auto; padding:0 28px;}
		table.mysales-list thead{display:none;}
		table.mysales-list tbody tr{position:relative; display:block; background:#fff; overflow:hidden; margin:15px 0; padding:20px;}
		table.mysales-list tbody td{display:block;}
		table.mysales-list tbody td:before{font-family:'SamsungIFBd'; content:attr(data-txt); display:inline; margin-right:10px;}
		table.mysales-list tbody td.pef{padding:0 0 10px;}
		table.mysales-list tbody td.pef:before{display:inline;}
		table.mysales-list tbody td.tit:before{display:none}
	}
	@media (min-width:540px) and (max-width:767px){
		table.mysales-list tbody td.created{right:33px;}
	}

/* my business 수정 */
.btn-area.right {text-align:right !important}
.interest-section-input {margin-bottom:30px}
.interest-section-input ul.interest-input li {border-bottom:0}
.interest-section-input ul.interest-input li + li {margin-top:10px}
.interest-section-input ul.interest-input li:after {display:block; content:""; clear:both}
.interest-section-input ul.interest-input li label {float:left; width:30%; padding:5px 0 5px; font-size:1.1666rem; line-height:38px}
.interest-section-input ul.interest-input li input[type="text"] {float:right; width:70%; height:38px; padding:5px 0 5px 10px}

.interest-section-group {overflow:hidden; height:auto; margin-top:20px; padding:0 20px 20px}
.interest-section li label {line-height:24px}

.last-txt-area {margin-top:20px}
@media (max-width:767px){
	.interest-section-input ul.interest-input li label {float:inherit}
	.interest-section-input ul.interest-input li input[type="text"] {float:inherit; width:100%; margin-left:0}
}