@charset "utf-8";

.opEditBox .opBtn {padding:5px; display:inline-block; *display:inline; border:1px solid #ef6500; background-color:#f88d3e; *zoom:1}
.opEditBox .opEditCont {border:1px solid #f88d3e;}