<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->

	<!-- 페이지별 css link,js -->
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/product.css">
	<script src="/semiconductor/common/js/page/product.js"></script>
	<!-- //페이지별 css link,js -->

	<title>상세 타이틀 입력 필요 | Producs | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="상세 타이틀 입력 필요 | Producs | Samsung Semiconductor Global"/>
	<meta name="description" content="Description 입력 필요"/>
	<meta name="keywords" content="키워드 입력 필요"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>

		<!-- 컨텐츠 영역 -->
		<!--key visual -->
		<div class="key-visual" data-role="ui-flick" data-autoplay="Y">
			<div data-role="ui-flick-container">
				<ul class="item4"  data-role="ui-flick-content">		<!-- class:"item"+slide item sum -->
					<li>
						<div class="screen movie">
                        <img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2"></span>
						</div>
					</li>
					<!-- video(youtube player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
                    <li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><!--20150624 추가--><em>Server DRAM</em><!--//20150624 추가-->BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
				</ul>
			</div>
			<!-- 2개 이상일때 출력 -->
			<div class="ctl-carousel">
				<button type="button" class="prev" data-role="ui-flick-prev"><span class="blind">previous</span></button>
				<button type="button" class="pause" data-role="ui-flick-auto"><span class="blind">pause</span></button>
				<button type="button" class="next" data-role="ui-flick-next"><span class="blind">next</span></button>
				<ul data-role="ui-flick-navigate">		<!-- slide 수많큼 li,button 추가 -->
					<li class="current">
						<button type="button"><span class="blind">slide 1</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 2</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 3</span></button>
					</li>
                    <li>
						<button type="button"><span class="blind">slide 4</span></button>
					</li>
				</ul>
			</div>
		</div>
		<!-- //key visual -->

		<!-- fixed jump menu -->
		<div class="floating-jumpmenu pdp lone" data-role="ui-jump">
			<p class="product-title"><span>Application Processor</span></p>
			<button type="button" data-role="ui-tab-jump-btn">Overview</button><!-- 첫번째 section의 title -->
			<!-- 
			<span class="btn-jump-wrap">
				<a href="javascript:;" class="btn-jump quote" data-role="ui-btn-quote"><span class="blind-txt">Contact us</span></a>
			</span>
			-->
			<div class="second-jump" data-role="ui-jump-container"> <!-- 140904 class="second-jump" 추가 -->
				<ul data-role="ui-jump-menu">
					<li><a href="#" data-role="ui-tab-jump-menu" class="on"><span>Overview</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Related Insights</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>Reviews & Awards</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>In the news</span></a></li>
					<li><a href="#" data-role="ui-tab-jump-menu"><span>User tab</span></a></li>
				</ul>
			</div>
		</div>
		<!-- //fixed jump menu -->

		<!-- overview -->
		<div data-role="ui-jump-target" class="module cross-bg">
			
			<!-- feature group -->
			<div class="feature-module">
				<!-- row -->
				<div class="grid-row">
					<div class="featurebox col-inner">
						<!-- Head Copy -->
						<div class="insection head-copy">
							<h2>Samsung Application Processors</h2>
							<div>Turning your phone into small miracle it truly is. Samsung Exynos suport breath-taking speed, jaw-dropping graphics, ultra-fast connectivily and longer battery life on your mobile devices so you can do more of the things you live</div>
						</div>
						<!-- //Head Copy -->
					</div>
				</div>
				<!-- //row -->
			</div>
			
			<!-- feature group -->
			<div class="feature-module">
				<!-- row -->
				<div class="grid-row">
					<div class="featurebox col-inner">
						<!-- Image + Text (Up to down) left item -->
						<div class="leftarea">
							<div class="insection">
								<div class="img-area">
									<img alt="Boost Productivity" src="http://www.samsung.com/uk/business/business-products/mobile-devices/galaxy-tab/tabs/images/1024x734-boost-productivity.jpg" />
								</div>
								<div class="info-txt">
									<div class="title">Boost Productivity</div>
									<div class="des">
										Transform every minute away from the office into productive time with the Samsung Galaxy Tab S. Users can perform multiple tasks on a single screen with Samsung 
										Multi Window<sup>TM</sup>, browsing the web at the same time as they watch videos and check emails. Access to data on the move means your teams can handle customer enquiries 
										with greater accuracy and efficiency in the field. This improves customer satisfaction with a workforce that is 'in when it is out'. And in today's always 
										connected business world, the Galaxy Tab S gives you the extended battery life and processing power you need to speed up the way your people work from anywhere, at 
										any time.
									</div>
								</div>
							</div>
						</div>
						<!-- //Image + Text (Up to down) left item -->
						<!-- Image + Text (Up to down) right item -->
						<div class="rightarea">
							<div class="insection">
								<div class="img-area">
									<img alt="Boost Productivity" src="http://www.samsung.com/uk/business/business-products/mobile-devices/galaxy-tab/tabs/images/1024x734-boost-productivity.jpg" />
								</div>
								<div class="info-txt">
									<div class="title">Boost Productivity</div>
									<div class="des">
										Transform every minute away from the office into productive time with the Samsung Galaxy Tab S. Users can perform multiple tasks on a single screen with Samsung 
										Multi Window<sup>TM</sup>, browsing the web at the same time as they watch videos and check emails. Access to data on the move means your teams can handle customer enquiries 
										with greater accuracy and efficiency in the field. This improves customer satisfaction with a workforce that is 'in when it is out'. And in today's always 
										connected business world, the Galaxy Tab S gives you the extended battery life and processing power you need to speed up the way your people work from anywhere, at 
										any time.
									</div>
								</div>
							</div>
						</div>
						<!-- //Image + Text (Up to down) right item -->
					</div>
				</div>
				<!-- //row -->

				<!-- product card -->
				<div class="module article-txt card-list">
					<ul class="grid-row">
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
					</ul>
				</div>
				<!-- //product card -->
			</div>
			<!-- //feature group -->

			<!-- feature group -->
			<div class="feature-module">
				<!-- row -->
				<div class="grid-row">
					<div class="featurebox col-inner">
						<!-- Image + Text (Up to down) -->
						<div class="insection">
							<div class="img-area">
								<img src="/semiconductor/common/img/@temp/@temp-feature-01.png" alt="" />
							</div>
							<div class="info-txt">
								<div class="title">Boost Productivity</div>
								<div class="des">
									Transform every minute away from the office into productive time with the Samsung Galaxy Tab S. Users can perform multiple tasks on a single screen with Samsung 
									Multi Window<sup>TM</sup>, browsing the web at the same time as they watch videos and check emails. Access to data on the move means your teams can handle customer enquiries 
									with greater accuracy and efficiency in the field. This improves customer satisfaction with a workforce that is 'in when it is out'. And in today's always 
									connected business world, the Galaxy Tab S gives you the extended battery life and processing power you need to speed up the way your people work from anywhere, at 
									any time.
								</div>
							</div>
						</div>
						<!-- //Image + Text (Up to down) -->
					</div>
				</div>
				<!-- row -->

				<!-- product card -->
				<div class="module article-txt card-list">
					<ul class="grid-row">
						<!-- item -->
						<li class="grid-col4"><!-- //20150624 클래스 변경 -->
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4"><!-- //20150624 클래스 변경 -->
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4"><!-- //20150624 클래스 변경 -->
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
					</ul>
				</div>
				<!-- //product card -->
			</div>
			<!-- //feature group -->

			<!-- feature group -->
			<div class="feature-module">
				<!-- row -->
				<div class="grid-row">
					<div class="featurebox col-inner">
						<!-- Text + Image - Left to right -->
						<div class="insection horizon-right">
							<div class="thumb">
								<div class="clip-center"><span><img src="/semiconductor/common/img/@temp/@temp-product-sub-landing-01.png" alt="" /></span></div>
							</div>
							<div class="info-txt">
								<div class="title">Boost Productivity</div>
								<div class="des">
									Transform every minute away from the office into productive time with the Samsung Galaxy Tab S. Users can perform multiple tasks on a single screen with Samsung 
									Multi Window<sup>TM</sup>, browsing the web at the same time as they watch videos and check emails. Access to data on the move means your teams can handle customer enquiries 
									with greater accuracy and efficiency in the field. This improves customer satisfaction with a workforce that is 'in when it is out'. And in today's always 
									connected business world, the Galaxy Tab S gives you the extended battery life and processing power you need to speed up the way your people work from anywhere, at 
									any time.
								</div>
							</div>
						</div>
						<!-- //Text + Image - Left to right -->
					</div>
				</div>
				<!-- //row -->

				<!-- product card -->
				<div class="module article-txt card-list">
					<ul class="grid-row">
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
						<!-- item -->
						<li class="grid-col4">
							<div class="col-inner bg-main6 box">
								<div class="fluid-txt txt">
									<span class="cat">Exynos 5 Octa</span>
									<h3 data-ui-textoverflow="true" class="tit">Exynos 5430 processor</h3>
									<div data-ui-textoverflow="true" class="sub">The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD The new Exynos 5 Octa (Exynos 5430) is designed for mobile devices requireing  utmost power efficiency in high-resolution displays such as WQHD</div>
									<div class="act align">
										<a href="" class="btn link">Read more</a>
									</div>
								</div>
							</div>
						</li>
						<!-- //item -->
					</ul>
				</div>
				<!-- //product card -->
			</div>
			<!-- //feature group -->
		</div>
		<!-- //overview -->

		<!--related insights-->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">Related Insights</h2>
			</div>
			
			<div class="grid-row align_btn4">
								
				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div>
							<div class="fluid-txt txt">
								<span class="cat">News</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a insight-id="3279" target="_self" title="Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall Read more" class="btn link" onclick="_ls_func_omni_1409019954302($(this), 'news', '3279', 'Read more'); return true;" href="/uk/business/insights/news/code-club-and-samsung-launch-cardiff-coding-hub-for-young-people">Read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div><!-- 20150715 class="cat-event" 삭제 -->
							<div class="fluid-txt txt">
								<span class="cat">Event</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<button type="button" class="btn video_down" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1">Play video</button>
											<a href="" class="btn pdf_down">Download PDF</a>
										</div>
									</div>
								</div>
							</div>
							<p class="out_link_ico"><a href="#">out link</a></p><!-- //20150715 out_link_ico 추가 -->
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div>
							<div class="fluid-txt txt">
								<span class="cat">News</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a href="" class="btn pdf_down">Download PDF</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid-col4">
					<div class="col-inner bg-main5 box">
						<div><!-- 20150715 class="cat-event" 삭제 -->
							<div class="fluid-txt txt">
								<span class="cat">Event</span>
								<div data-ui-textoverflow="true" class="tit">Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall</div>
								<div data-ui-textoverflow="true" class="sub">Samsung and Code Club are today opening their latest coding hub in Cardiff, following successful openings in London... </div>
								<div class="act align">
									<div>
										<div class="left">
											<a insight-id="3279" target="_self" title="Code Club and Samsung Launch Cardiff Coding Hub for Young People at City of Cardiff Council Digital Showcase, County Hall Read More" class="btn link" onclick="_ls_func_omni_1409019954302($(this), 'news', '3279', 'read more'); return true;" href="/uk/business/insights/news/code-club-and-samsung-launch-cardiff-coding-hub-for-young-people">Read more</a>
										</div>
									</div>
								</div>
							</div>
							<p class="out_link_ico"><a href="#">out link</a></p><!-- //20150715 out_link_ico 추가 -->
						</div>
					</div>
				</div>

			</div>
			
			<div class="wrapper-act">
				<form action="/HQ/b2b4/solution/landing/industrial-std.page?submit=true&amp;componentID=1409019954302" method="POST">
				<input value="solutions-services|industry-solutions" name="iaUrlPath" type="hidden"><button onclick="_ls_func_1409019954302($(this));" title="Load more related insights list" class="btn-type2 link" type="button">See all insights</button>
				</form>
			</div>
				<script type="text/javascript">
					function _ls_func_1409019954302(obj){
						sendClickCode('view_more','see all:related insights');
						var form = obj.parents("form");
						form.attr("action","/uk/business/insights/");
						form.submit();
					}
					
					function _ls_func_omni_1409019954302(obj, type, id, title){
						if(obj.hasClass("link")){
							sendClickCode('b2b_insights_related', "related insights|insights:"+type+":"+id+":"+title);
						}else{
							var src = obj.attr("href");
							src = src.substring(src.lastIndexOf("/")+1);
							sendClickCode('b2b_insights_related_download', "related insights|insights:"+type+":"+id+":"+title+"|"+src);
						}
					}
				</script>
		</div>
		<!--//related insights-->

		<!-- reviews & awards -->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">Reviews & Awards</h2>
			</div>
			
			<div class="award-news-list">
				<div class="grid-row align_btn4" data-tmpl="awards">
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="http://edubank.hansung.ac.kr/wp-content/uploads/2015/01/cute-interior-design-6.jpg" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
				</div>
			</div>
			<div class="wrapper-act">
				<button type="button" class="btn-type2 show" title="load more reviews&awards" data-role="ui-btn-awards" data-type="clipped-insights" >Load more</button>
			</div>
		</div>

		<script type="text/x-jquery-tmpl" id="tmpl-awards-inner">
		{{if awardslist}}
			{{each awardslist}}
			<div class="grid-col4">
				<div class="col-inner box">
					<div class="thumb"><img src=${thumb} alt=${alt} /></div>
					<div class="fluid-txt txt">
						<h3 class="tit">${title}</h3>
						<p data-ui-textoverflow="true">${des}</p>
						<a href=${url} class="btn link">Read more</a>
					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			<p>데이타 없다.</p>
		{{/if }}
		</script>
		<!-- //reviews & awards -->

		<!-- in the news -->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">In the news</h2>
			</div>
			
			<div class="award-news-list">
				<div class="grid-row align_btn4" data-tmpl="news">
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
					<!-- item -->
					<div class="grid-col4">
						<div class="col-inner box">
							<div class="thumb"><img src="/semiconductor/common/img/@temp/@temp-product-award-01.jpg" alt="Trusted Reviews" /></div>
							<div class="fluid-txt txt">
								<h3 class="tit" data-ui-textoverflow="true">Trusted Reviews Trusted Reviews Trusted Reviews Trusted Reviews</h3>
								<p data-ui-textoverflow="true">During last year's Samsung SSD Global Summit, Samsung During last year's Samsung SSD Global Summit, Samsung </p>
								<a href="" class="btn link">Read more</a>
							</div>
						</div>
					</div>
					<!-- //item -->
				</div>
			</div>
			<div class="wrapper-act">
				<button type="button" class="btn-type2 show" title="load more news" data-role="ui-btn-news" data-type="clipped-insights" >Load more</button>
			</div>
		</div>
		<script type="text/x-jquery-tmpl" id="tmpl-news-inner">
		{{if newslist}}
			{{each newslist}}
			<div class="grid-col4">
				<div class="col-inner box">
					<div class="thumb"><img src=${thumb} alt=${alt} /></div>
					<div class="fluid-txt txt">
						<h3 class="tit">${title}</h3>
						<p data-ui-textoverflow="true">${des}</p>
						<a href=${url} class="btn link">Read more</a>
					</div>
				</div>
			</div>
			{{/each}}
		{{else}}
			<p>데이타 없다.</p>
		{{/if }}
		</script>
		<!-- //in the news -->

		<!-- user tab -->
		<div data-role="ui-jump-target" class="module article-txt">
			<div class="grid-row">
				<h2 class="sec-title">User tab</h2>
			</div>

			<div class="grid-row">
				<div class="col-inner">
					<!---여기서부터 html 영역입니다.-->

					<!---//여기까지 html 영역입니다.-->
				</div>
			</div>
		</div>
		<!-- //user tab -->
		<!-- //컨텐츠 영역 -->
	</div>
	<!-- //contents wrapper -->
<!-- pathindicatorENG -->
<p style="display:none" id="pathindicatorENG">
	<a>Semiconductor</a>
	<a>Products</a>
</p>
<!-- //pathindicatorENG -->
<input id="pageTrack" name="pageTrack" type="hidden" value="semiconductor product subtype landing"/>

<input id="group" name="group" type="hidden"  value="" />
<input id="type" name="type" type="hidden" value="" />
<input id="subtype" name="subtype" type="hidden" value="" />
<input id="subsubtype" name="subsubtype" type="hidden"value="" />

<input id="product_id" name="product_id" type="hidden" value=" ">
<input id="product_partnumber" name="product_display_name"  type="hidden" value="">
<input id="product_display_name" name="product_display_name"  type="hidden" value="">

<input id="insight_id" name="pvi_project_code" type="hidden" value="">
<input id="insight_title" name="resource_id" type="hidden" value="">
<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->