@charset "utf-8";
/*product*/
@import url("pdp.css");
@import url("product.css");

.search-section > .grid-outer:first-child {padding-bottom:30px !important}

.search-result{padding-top:35px}
.search-tit{padding:15px 20px; font-size:24px; margin:0 0 0 10px;
-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.best-match .thumb{background-repeat:no-repeat;background-size:100% 100%;background-position:center;height:0;position:relative;}
.best-match .thumb img{position:absolute;left:0;top:0}
.best-match .product .thumb{padding-bottom:100%;border:1px solid #e9e9e9}
.ie8 .best-match .product .thumb {background:none !important;}
.best-match .solution .thumb{padding-bottom:61.875%}
.best-match .tit{font-size:30px;font-size:1.6666rem;margin-bottom:4px}
.best-match .sub{margin-bottom:5px}

ul.result-list {margin-top:0}
ul.result-list li{padding:25px 0 0 20px;}
ul.result-list li:first-child{padding-top:0}
ul.result-list li a{display:block}
ul.result-list li a{font-size:18px}
ul.result-list li a span.cate,
ul.result-list li div span.cate {display:block; font-size:16px; color:#000}

ul.result-list .result-insight {position:relative; border-bottom:1px solid #ccc; padding-top:12px; padding-bottom:12px}
ul.result-list .result-insight:last-child {border-bottom:0}
ul.result-list .result-insight > div {padding-right:250px; font-size:18px}
ul.result-list .result-insight .act {position:absolute; right:20px; bottom:10px; overflow:hidden; width:auto; padding-right:0}
ul.result-list .result-insight .act div {float:left}
ul.result-list .result-insight .act div button,
ul.result-list .result-insight .act div a {float:left; margin-left:15px; margin-right:0; padding-right:5px;}
ul.result-list .result-insight .act div a.btn.link {padding-right:0;}
ul.result-list .result-insight .act.align > div .left {text-align:right}

.no-result {margin-top:30px}
.no-result-area {margin:5% 0 8%}
.no-result-area .grid-col {float:inherit; max-width:455px; margin:0 auto}
.no-result-area .grid-col .tit-area {padding:20px 30px; padding-top:140px; text-align:center; background:url(/common/b2b4/img/search/bg_search_banner_desktop.png) no-repeat 50% 0}
.no-result-area .grid-col .tit-area h2 {font-size:32px}
.no-result-area .grid-col .tit-area h3 {font-size:24px}
.no-result-area .grid-col .sub {padding:20px}
.no-result-area .grid-col .dot-style01 li {list-style:none; padding-left:12px; background:url(/common/b2b4/img/layout/bg_list_dot1.png) no-repeat 0 center;}

@media (min-width:768px) {
	.recent-kwd .col-inner {background:#e5eef6; *zoom:1}
	.recent-kwd .col-inner:after {display:block; clear:both; content:''}
	.recent-kwd .col-inner > h2.tit {padding:18px 0;}
	.recent-kwd .col-inner > div {padding-top:18px}

}
@media (min-width:768px) and (max-width:1024px){
	.search-tit{font-size:20px}
	.best-match .tit{padding-top:10px;margin-bottom:14px}
	.best-match .sub{margin-bottom:10px}

	.no-result-area .grid-col .tit-area h2 {font-size:28px}
	.no-result-area .grid-col .tit-area h3 {font-size:20px}
	.no-result-area .grid-col .tit-area {background:url(/common/b2b4/img/search/bg_search_banner.png) no-repeat 50% 0; background-size:124px 124px}
}
@media (max-width:767px){
	.search-tit{padding:10px 20px; font-size:16px; margin-left:10px}
	.recent-kwd .col-inner {background-color:#e5eef6}
	ul.result-list li a{font-size:16px}
	ul.result-list .result-insight > div {padding-right:0; font-size:16px}
	ul.result-list li a span.cate,
	ul.result-list li div span.cate {font-size:14px}
	.no-result-area .grid-col .tit-area {background:url(/common/b2b4/img/search/bg_search_banner.png) no-repeat 50% 0; background-size:124px 124px}
	ul.result-list .act a {font-size:14px}

	ul.result-list .result-insight > a {padding-right:0}
	ul.result-list .result-insight .act {position:static; margin-top:10px}
	ul.result-list .result-insight .act div {float:left; width:auto}
	ul.result-list .result-insight .act div button,
	ul.result-list .result-insight .act div a {float:left; margin-left:0; margin-right:15px}
	ul.result-list .result-insight .act.align > div .left {text-align:left}
	ul.result-list .result-insight .act.align button.btn.video_down {font-size:14px}
	.firefox ul.result-list .result-insight .act.align button.btn.video_down {margin-left:-2px}
}
.grid-outer.recent-kwd {padding-bottom:20px !important}
.recent-kwd .col-inner {margin-top:0; *zoom:1}
.recent-kwd .col-inner:after {content:""; display:block; clear:both}
.recent-kwd .tit{font-family:'SamsungIFBd';float:left;margin:0 0 0 20px;color:#0057a4;font-size:18px;font-size:1rem}
.recent-kwd .tit+div{overflow:hidden}
.recent-kwd div a{display:inline-block;margin:0 0 0 20px}
@media (max-width:767px){
	.grid-outer.recent-kwd {padding-bottom:10px !important}
	.recent-kwd .col-inner{padding:0;border-bottom:none; margin-top:0}
	.recent-kwd .tit{color:#0057a4;margin:0;padding:15px 0 15px 20px}
	.recent-kwd .tit + div {padding-top:15px}
	.recent-kwd div a{display:inline-block;padding:0 0 20px}
	.no-result-area .grid-col .tit-area h2 {font-size:24px}
	.no-result-area .grid-col .tit-area h3 {font-size:16px}
}

.search-section div.product-wrap .product-col {margin-top:0}
