.head-copy h2{font-family:"SamsungIFBlk", Arial, 'メイリオ';font-weight:bold}
div.featurebox .info-txt .title{font-family:"SamsungIFBd", Arial, 'メイリオ'}
.module>.sec-title{font-weight:bold}
.specifi-list .specifi > h4{font-weight:bold}
.show-more-spec .info.info2 li{margin-left:25px;text-indent:-25px}
.key-visual .screen .focus-msg ul{margin-top:10px}
.key-visual .screen .focus-msg ul li{width:auto;position:relative;left:0;font-size:21px;padding-left:8px;margin-top:7px}
.key-visual .screen .focus-msg ul li:before{content:"";position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#fff}

.product-visual .title{font-weight:bold}

/* product-visual2 */
.product-visual2{position:relative;text-align:center;max-width:1310px;margin:0 auto}
.product-visual2:first-child{margin-top:50px}
.product-visual2 .text-con{position:absolute;left:0;top:12%;width:100%}
.product-visual2 .text-con.white{color:#fff}
.product-visual2 .title{font-size:64px;line-height:1em;margin:0 auto;font-weight:bold;width:1200px}
.product-visual2 .txt{font-size:21px;line-height:1.7em;margin:25px auto 0 auto;width:1200px}
.product-visual2 .txt em{font-size:14px;display:block;line-height:1.5em;margin-top:5px}
.product-visual2 .vi:after{display:block;width:100%;clear:both;content: ""}
.product-visual2 .vi img{width:100%;max-width:100%;float:left}
.product-visual2 .pc_block{display: block;}

@media (max-width: 1349px) and (min-width: 1024px)
{
    .product-visual2 .title{width:900px}
    .product-visual2 .txt{width:900px}
    .product-visual2 .pc_block{display: inline;}
}

@media (max-width: 1024px) and (min-width:768px)
{
    .product-visual2 .title{font-size:45px;width:700px}
    .product-visual2 .txt{font-size:18px;width:700px}
    .product-visual2 .pc_block{display: inline;}
}

@media (max-width:767px){
   .product-visual2 .text-con{top:10%}
   .product-visual2 .title{font-size:29px;width:300px}
   .product-visual2 .txt{font-size:15px;width:300px;margin-top:10px}
   .product-visual2 .txt em{font-size:13px}
   .product-visual2:first-child{margin-top:0}
   .product-visual2 .pc_block{display: inline;}
}