@charset "utf-8";

.over-grid-group {max-width:1310px; margin:0 auto; margin-top:10px; padding:0 30px}
.over-grid-group > div {padding:20px 0}

.legacy-ie .over-grid-group .grid-col4 .col-inner.box {width:auto}

.form-row {overflow:hidden; margin-top:10px;}
.form-row:after {display:block; content:""; clear:both}
.form-row .form-col {float:left; width:49%}
.form-row .form-col + .form-col {margin-left:2%}
.form-row .form-col label {display:block; width:100%}
.form-row .form-col input[type="text"] {width:100%; height:37px; line-height:17px; margin-top:5px; padding:10px; border:1px solid #dbdfe1; border-radius:3px 0 0 3px; font-size:1em; background:#fff; }
.ie7 .form-row .form-col input[type="text"] {padding:0}
.form-row .form-col select {width:100%; height:37px; margin-top:5px; border:1px solid #dbdfe1; border-radius:3px 0 0 3px; font-size:1em;}
.form-row .form-col + .from-col {margin-left:10px}

.form-row .form-col.type2 {width:100%}

.btn-area {clear:both}
.btn-area.right {text-align:right;}
.btn-area.mobile {display:none}

.step-form h2 {display:none}
.step-form button.ctl-accordion {display:none; position:relative}

.step02 .fluid-txt {*zoom:1}
.step02 .fluid-txt .interest-section .tit {margin-top:0; height:auto}
.step02 .fluid-txt:after {display:block; content:""; clear:both}
.step02 .fluid-txt .left-content {float:left; width:43%}
.step02 .fluid-txt .right-content {float:right; width:52%}

.step02 .interest-section {padding:10px}
.step02 .interest-section ul {*zoom:1}
.step02 .interest-section ul:after {display:block; content:""; clear:both}
.step02 .interest-section ul li {float:left; width:50%; margin-top:10px}
.step02 .interest-section ul li input[type=checkbox]+label {color:#0057a4; word-wrap:break-word; word-break:break-word}
.step02 .last-txt-area {margin-top:10px}

.last-txt-area .bottom-msg {padding-left:10px}
.last-txt-area .pl-msg {padding-left:10px}

.form-list li:first-child {margin-top:0}
.form-list li {margin-top:10px}
.form-list li label {font-size:16px}
.form-list li > input[type="text"] {width:100%; height:37px; line-height:37px; margin-top:5px; padding:0 10px; border:1px solid #dbdfe1; border-radius:3px 0 0 3px; font-size:1em; background:#fff}
.ie7 .form-list li > input[type="text"] {padding:0}
.form-list li > textarea {width:100%; margin-top:5px; padding:7px 10px; font-size:1rem; color:#5a5a5a}
.form-list li:first-child .form-row {margin-top:0}
.form-list li .full-select {width:100%; margin-top:10px; border:1px solid #dbdfe1}
.form-list select {height:37px}

.btn-area {margin-top:15px}

.step-group-mobile {display:none; margin-top:30px; padding:0 20px}
.module.article-txt .step-group-mobile  .grid-row .tit {height:auto; margin-top:0}
ul.check-list li {margin-top:10px}
ul.check-list li:first-child {margin-top:10px}

/* accordion */
ul.accordion{}
	ul.accordion > li{border-bottom:1px solid #ccc;}
	ul.accordion > li > a.btn:hover {color:#fff !important}
	ul.accordion li.active{background:#0071bf;}
		ul.accordion li a.show{color:#fff; display:block; max-width:1310px; margin:0 auto; padding:17px 28px; background:#0057a4; transition-duration:0;}
		ul.accordion li a.hide{color:#fff; display:block; max-width:1310px; margin:0 auto; padding:17px 28px; background:#0071bf; transition-duration:0;}
			ul.accordion li a.show:after{font-size:12px; vertical-align:-2px; margin-left:5px;}
			ul.accordion li a.hide:after{font-size:12px; vertical-align:-3px; margin-left:5px;}
		ul.accordion li.active>a{color:#fff;}
		ul.accordion li.active a.hide{color:#fff;}
@media (min-width:768px) and (max-width:1023px){
	ul.accordion li a.show, ul.accordion li a.hide{padding:17px 13px;}
	ul.accordion li a.show:after{position:absolute; top:50%; margin:0; paddin:0; right:13px; margin-top:-8px;}
	ul.accordion li a.hide:after{position:absolute; top:50%; margin:0; paddin:0; right:13px; margin-top:-8px;}
	.over-grid-group.thanks .grid-row .grid-col4 {width:50%}
}
@media (max-width:767px){
	ul.accordion li a.show, ul.accordion li a.hide{padding:17px 20px;}
	ul.accordion li a.hide{color:#fff;}
	ul.accordion li a.show:after{position:absolute; top:50%; margin:0; paddin:0; right:13px; margin-top:-8px;}
	ul.accordion li a.hide:after{position:absolute; top:50%; margin:0; paddin:0; right:13px; margin-top:-8px;}
}

ul.accordion li .accordion-content{background:#f1f1f1; padding:10px 0 20px;display:none}
	ul.accordion li .accordion-content .grid-outer{padding-bottom:0}
ul.accordion li .wrapper-act button{color:#0056a4; padding:0; background:none;}

ul.accordion li .myinfo-section{max-width:1310px; margin:0 auto; padding:0 28px;}
	ul.accordion li .myinfo-section h2{font-size:27px;font-size:1.5rem;}
div.myinfo-section{}
div.myinfo-section div.inarea{overflow:hidden; padding-bottom:30px;}
	div.myinfo-section div.inarea.t-line{border-top:1px solid #ddd; padding:20px 0 0 0;}
	div.myinfo-section div.left-area{float:left; width:35%;}
	div.myinfo-section div.right-area{float:left; width:60%;}
	div.myinfo-section div.inarea div.btn-area{width:100%; text-align:center; clear:both; padding:20px 0 0 0;}
		div.myinfo-section p{margin:20px 0;}
		div.myinfo-section p.address{overflow:hidden;}
		div.myinfo-section span.tit{margin-right:5px;}
		div.myinfo-section span.name{font-family:'SamsungIFBd';}
		div.myinfo-section p.address span.tit{display:block; float:left;}
		div.myinfo-section p.address span.name{display:block; width:200px; float:left;}
		div.myinfo-section div.interest-section{float:left; width:33.3%;}
ul.accordion li div.myinfo-section .wrapper-act button{color:#fff; background:#0057a4; padding:0 15px; 0 20px; margin:0;}
	ul.accordion li div.myinfo-section div.interest-section ul li{border-bottom:none; color:#0057a4; margin:0 0 5px;}
	ul.accordion li div.myinfo-section div.interest-section h2{font-size:21px; font-size:1.1666rem;margin:10px 0 0 0;}
@media (min-width:768px) and (max-width:1023px){
	ul.accordion li .myinfo-section{padding:0 13px;}
	div.myinfo-section div.left-area{width:50%;}
	div.myinfo-section div.right-area{width:50%;}
}
@media (max-width:767px){
	ul.accordion li .myinfo-section{padding:0 13px;}
	div.myinfo-section div.left-area{width:100%;}
	div.myinfo-section div.right-area{width:100%;}
	ul.accordion li div.myinfo-section div.inarea div.btn-area button{width:100%;}
	div.myinfo-section p{margin:10px 0;}
	div.myinfo-section div.interest-section{width:100%; overflow:hidden;}
	div.myinfo-section div.interest-section ul li{float:left; width:50%;}
	.step-group {display:none}
	.step-group-mobile {display:block; padding:0 10px}

	.step-group-mobile .grid-row {padding:0}
	.step-group-mobile .grid-row .col-inner {margin:0}
	.step-group-mobile .interest-section {margin-top:10px; padding:10px}
	.step-group-mobile .interest-section ul {margin-top:10px}
	.step-group-mobile .interest-section ul li {margin-top:10px; font-size:16px; line-height:22px}
	.step-group-mobile .interest-section ul li:first-child {margin-top:0}
	.step-group-mobile .last-txt-area ul.check-list {padding-left:10px}
}

ul.accordion li .article-thumb .grid-row{}
	ul.accordion li .article-thumb .grid-row .col-inner{background:#fff}

ul.accordion li .list-thumb .grid-row .col-inner{background:#fff;}
	ul.accordion li .list-thumb .grid-row .col-inner .fluid-txt.txt{background:#fff; border:1px solid #e9e9e9;}

ul.accordion li .article-txt .col-inner{background:#fff}
	ul.accordion li .article-txt span.act a.btn{color:#0057a4;}
	@media (max-width:767px){
		ul.accordion li .article-txt .grid-row .fluid-txt{margin-left:15px; margin-right:15px; background:#fff; padding-top:20px;}
	}

div.mysales-list-area{background:#f1f1f1;}
	div.mysales-list-area div.inarea{max-width:1310px; margin:0 auto; padding:25px 28px;}
table.mysales-list{width:100%; border-spacing:0;}
	table.mysales-list thead th{padding-bottom:10px;}
	table.mysales-list thead th span.tit{display:block; margin-right:10px; border-bottom:1px solid #000; padding-bottom:4px;}
	table.mysales-list thead th span.tit.last{margin-right:0;}
	table.mysales-list tbody td{padding:4px 0;}

	@media (max-width:767px){
		div.mysales-list-area div.inarea{max-width:1310px; margin:0 auto; padding:0 28px;}
		table.mysales-list thead{display:none;}
		table.mysales-list tbody tr{position:relative; display:block; background:#fff; overflow:hidden; margin:15px 0; padding:20px;}
		table.mysales-list tbody td{display:block;}
		table.mysales-list tbody td:before{font-family:'SamsungIFBd'; content:attr(data-txt); display:inline; margin-right:10px;}
		table.mysales-list tbody td.pef{padding:0 0 10px;}
		table.mysales-list tbody td.pef:before{display:inline;}
		table.mysales-list tbody td.tit:before{display:none}
	}
	@media (min-width:540px) and (max-width:767px){
		table.mysales-list tbody td.created{right:33px;}
	}

@media (min-width:768px) and (max-width:1024px) {
	.over-grid-group {padding:0 15px}
}

@media (max-width:1024px) {
	.step02 .fluid-txt .left-content {float:inherit; width:100%}
	.step02 .fluid-txt .right-content {float:inherit; width:100%; margin-top:30px}
	.step02 .interest-section ul li {float:left; width:25%; margin-top:10px}
	.step02 .interest-section ul li input[type=checkbox]+label { color:#0057a4; word-wrap:break-word; word-break:break-word}
}

@media (max-width:767px) {
	.over-grid-group {padding:0 10px}
	.step01 .grid-row .fluid-txt {padding-left:0; padding-right:0; padding-top:0}
	.step01 .grid-row .fluid-txt .sub {padding-left:20px; padding-right:20px}
	.over-grid-group {padding:0 20px}
	.form-row .form-col {float:inherit; width:100%}
	.form-row .form-col + .form-col {margin-top:15px; margin-left:0}
	.btn-area.right {display:none; text-align:right;}
	.btn-area.mobile {display:block}

	.step-form h2 {display:block}
	.step-form .step-form-content {padding:0 20px}
	.over-grid-group {margin-top:0}

	.step02 .interest-section ul li {float:left; width:100%; margin-top:10px}
	.step02 .check-list {padding-left:12px}
}