<!--#include virtual="/semiconductor/global/ssi/header/dochead_html5.sec"-->

	<!-- 페이지별 css link,js -->
	<link rel="stylesheet" type="text/css" media="all" href="/semiconductor/common/css/pages/aboutus.css">
	<script src="/semiconductor/common/js/page/aboutus.js"></script>
	<!-- //페이지별 css link,js -->

	<title>News | Samsung Semiconductor Global</title>		<!-- unique한 페이지 title -->

	<meta name="title" content="News | Samsung Semiconductor Global"/>
	<meta name="description" content="Rediscover the wonder of technology with our latest breakthroughs, products, and events as we continue to push limits of innovation"/>
	<meta name="keywords" content="News, samsung, samsung.com, samsung electronics, semiconductor, samsung website"/>
	<meta name="last-modified" content="날짜 입력 필요 (예:2015-07-02)" />

<!--#include virtual="/semiconductor/common/html/sec/semi_header.sec"-->

	<!-- contents wrapper -->
	<div class="content-wrap">
		<div id="content">
        	<span class="blind">Content</span>
        </div>
		
		<!-- key visual -->
		<div class="key-visual" data-role="ui-flick" data-autoplay="Y">
			<div data-role="ui-flick-container">
				<ul class="item4"  data-role="ui-flick-content">		<!-- class:"item"+slide item sum -->
					<li>
						<div class="screen movie">
                        <img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/b2b-hp-s6-desktop-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><em>News</em>Discover the wonder of semiconductor technology</h1>
									<div class="txt">
										Rediscover the wonder of technology with our latest breakthroughs, products, and events as we continue to push limits of innovation
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2"></span>
						</div>
					</li>
					<!-- video(youtube player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><em>News</em>BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
					<li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><em>News</em>BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
                    <li>
						<div class="screen movie">
							<img alt="Bring life to business " data-media-mobile="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg" data-media-desktop="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_1-1.jpg" class="kv_desktop" src="http://www.samsung.com/uk/consumer-images/local-area/homepage/HomeKV_01_Mobile-0.jpg">
							<div>
								<div class="focus-msg">
									<h1 class="tit"><em>News</em>BRING LIFE TO BUSINESS</h1>
									<div class="txt">
										Samsung works with you to provide strong strategic solutions, delivered by our innovative products.
									</div>
									<!-- 버튼영역 -->
									<span class="act">
										<a href="javascript:void(0);" class="btn-type1 link" tabindex="0">Find out more</a>
									</span>
									<!-- //버튼영역 -->
								</div>
							</div>
							<span class="act2">
								<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="brightcove" data-video-id="myExperience2693322958004" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
							</span>
						</div>
					</li>
					<!-- video(brightcove player) -->
				</ul>
			</div>
			<!-- 2개 이상일때 출력 -->
			<div class="ctl-carousel">
				<button type="button" class="prev" data-role="ui-flick-prev"><span class="blind">previous</span></button>
				<button type="button" class="pause" data-role="ui-flick-auto"><span class="blind">pause</span></button>
				<button type="button" class="next" data-role="ui-flick-next"><span class="blind">next</span></button>
				<ul data-role="ui-flick-navigate">		<!-- slide 수많큼 li,button 추가 -->
					<li class="current">
						<button type="button"><span class="blind">slide 1</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 2</span></button>
					</li>
					<li>
						<button type="button"><span class="blind">slide 3</span></button>
					</li>
                    <li>
						<button type="button"><span class="blind">slide 4</span></button>
					</li>
				</ul>
			</div>
		</div>
		<!-- //key visual -->

		<!-- filter -->
		<form method="post" action="#" name="filter" class="refine toggle-content filter-news-area">
			<!-- table,desktop -->
			<div class="filter-by-area desktop-area">
				<div class="filter-sort-module" data-role="ui-filter-list">
					<div class="filterby-section" data-role="ui-filter-container">
						<a href="#" class="btn-filterby link-toggled" data-role="ui-filter-toggle"><span>Filter by ( 219 )</span></a><!--선택 됐을 때 class link-toggled-->
						<!-- 140819 추가 css[display=none] -->
						<div class="product-depth-area" data-role="ui-filter-content" style="display:none;">
							<!--one depth-->
							<div class="ui-filter-menu" data-role="ui-filter-menu">
								<ul class="menu"><!--탭갯수에 따라 class명 변경 2개일때 tab2, 4개일때 tab4, 5개일때 tab5, 6개일때 tab6, 7개일때 tab7-->
									<li class="active"><a href="#">Category Search</a></li>
								</ul>
								<a href="#" class="btn-date-filter">Period Search</a>
							</div>
							<!--//one depth-->

							<div class="filter-content" data-role="ui-filter-area">
								<div class="product-listarea">
									<!--two depth-->
									<ul class="two-depth" data-role="ui-filter-area-news">
										<li><input type="checkbox" id="p-twodepth"><label for="p-twodepth">DRAM</label></li>
										<li><input type="checkbox" id="p-twodepth2"><label for="p-twodepth2">Flash Storage</label></li>
										<li><input type="checkbox" id="p-twodepth3"><label for="p-twodepth3">Mobile Memory</label></li>
										<li><input type="checkbox" id="p-twodepth4"><label for="p-twodepth4">Application Processor</label></li>
										<li><input type="checkbox" id="p-twodepth5"><label for="p-twodepth5">CMOS Image Sensor</label></li>
										<li><input type="checkbox" id="p-twodepth6"><label for="p-twodepth6">System LSI</label></li>
										<li><input type="checkbox" id="p-twodepth7"><label for="p-twodepth7">Other Products</label></li>
										<li><input type="checkbox" id="p-twodepth8"><label for="p-twodepth8">Coorporate</label></li>
										<li><input type="checkbox" id="p-twodepth9"><label for="p-twodepth9">Foundary Serviece</label></li>
									</ul>
								</div>
							</div>
							<!--select product list-->
							<div class="select-product" data-role="ui-filter-result">
							</div>
							<!--//select product list-->

							<div class="controll-area">
								<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
								<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--//table,desktop-->
			
			<div class="filter-wrap-new">
				<!--mobile-->
				<div class="filter-by-area mobile-area" data-role="ui-mfilter-list">
					<!--select menu-->
					<div class="sorting-area" data-role="ui-mfilter-menu">
						<a href="#" class="filterby link-toggled" data-role="ui-mfilter-toggle"><span>Filter by</span><em></em></a>
					</div>
					<!--//select menu-->
					<!--filterby menu-->
					<div class="filterby-section" data-role="ui-mfilter-content" data-tab="true" style="display:none;">
						<!--one depth-->
						<ul class="m-onedepth">
							<li>
								<a href="#" class="filter-title" data-role="ui-mfilter-menu"><span>Category Search</span></a>
								<!--two depth-->
								<ul class="m-twodepth">
									<li><input type="checkbox" id="p-mtwo"><label for="p-mtwo">DRAM</label></li>
									<li><input type="checkbox" id="p-mtwo2"><label for="p-mtwo2">Flash Storage</label></li>
									<li><input type="checkbox" id="p-mtwo3"><label for="p-mtwo3">Mobile Memory</label></li>
									<li><input type="checkbox" id="p-mtwo4"><label for="p-mtwo4">Application Processor</label></li>
									<li><input type="checkbox" id="p-mtwo5"><label for="p-mtwo5">CMOS Image Sensor</label></li>
									<li><input type="checkbox" id="p-mtwo6"><label for="p-mtwo6">System LSI</label></li>
									<li><input type="checkbox" id="p-mtwo7"><label for="p-mtwo7">Other Products</label></li>
									<li><input type="checkbox" id="p-mtwo8"><label for="p-mtwo8">Coorporate</label></li>
									<li><input type="checkbox" id="p-mtwo9"><label for="p-mtwo9">Foundary Serviece</label></li>
								</ul>
								<!--//two depth-->
							</li>
						</ul>
						<!--//one depth-->
						<div class="controll-area">
							<div class="select-product" data-role="ui-mfilter-result"></div>
							<a href="javascript:void(0);" class="btn-clear-all" data-role="btn-clear-all">Clear all</a>
							<a href="javascript:void(0);" class="btn-filter-cls" data-role="btn-close-layer">Close</a>
						</div>
					</div>
					<!--//filterby menu-->
				</div>
				<!--//mobile-->

				<!-- date filter -->
				<div class="date-filter">
					<a href="#" class="btn-date-filter-mobile"><span>Period Search</span></a>
					<div class="filter-content">
						<div>
							<input type="radio" name="radio-period" id="radio-period-all" checked> <label for="radio-period-all">All</label>
							<input type="radio" name="radio-period" id="radio-period-specific"> <label for="radio-period-specific">Specific</label>
						</div>
						<!-- select -->
						<div class="period">
							<!-- from year -->
							<div>
								<select>
									<option>Year</option>
									<option value="">2015</option>
								</select>
							</div>
							<!-- //from year -->
							<!-- from month -->
							<div>
								<select>
									<option>Month</option>
									<option value="">01</option>
								</select>
							</div>
							<!-- //from month -->
							<span>~</span>
							<!-- to year -->
							<div>
								<select>
									<option>Year</option>
									<option value="">2015</option>
								</select>
							</div>
							<!-- //to year -->
							<!-- to month -->
							<div>
								<select>
									<option>Month</option>
									<option value="">01</option>
								</select>
							</div>
							<!-- //to month -->
						</div>
						<!-- //select -->
					</div>
				</div>
				<!-- //date filter -->
			</div>

		</form>
		<!-- //filter -->

		<!-- filter by jump menu  -->
		<div class="floating-jumpmenu filter_by" data-role="ui-jump-basic"> 
			<div>
				<ul>
					<li><a href="#" data-role="ui-jump-filter-filterby"><span class="btn" onclick="sendClickCode('jumpto','jump to:filter');">Filter by</span></a></li>  
				</ul>
			</div>
		</div>
		 <!-- //filter by jump menu -->

		<!-- list -->
		<div class="module article-txt">
			<ul class="insight-list grid-row" data-tmpl="news">
				<!-- item -->
				<li>
					<div class="img">
						<img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" />
						<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
					</div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn pdf_down">Download PDF</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn link">Read more</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img">
						<img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" />
						<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
					</div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn link">Read more</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn pdf_down">Download PDF</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn link">Read more</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img">
						<img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" />
						<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="youtube" data-video-id="GF6gB6sq7nk" data-view="1"><span class="blind">watch the video : [입력받은 대체텍스트]</span></button>
					</div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn pdf_down">Download PDF</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
				<!-- item -->
				<li>
					<div class="img"><img data-cdn="img" data-original="/semiconductor/common/img/@temp/@temp-insights-01.jpg" alt="" /></div>
					<div class="fluid-txt txt">
						<h2 data-ui-textoverflow="true" class="tit">Samsung Electronics Delivers Even Faster Samsung Electronics Delivers Even Faster</h2>
						<div data-ui-textoverflow="true" class="sub">Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator Launch of Samsung “Plus” lineup provides memory card solutions with faster data transfer speeds, expanded capacities and 4K UHD support May 5, 2015 – Samsung Electronics Co., Ltd., a market leader in advanced memory technology and an innovator</div>
					</div>
					<div class="act align">
						<a href="" class="btn pdf_down">Download PDF</a>
						<span class="date">Seoul, Korea on May 5, 2015</span>
					</div>
				</li>
				<!-- //item -->
			</ul>

			<div class="wrapper-act">
				<button type="button" class="btn-type2 show" title="load more insights" data-role="ui-btn-news-loadmore" data-page="1">Load more</button>
			</div>
		</div>

		<script type="text/x-jquery-tmpl" id="tmpl-news-inner">
		{{if newsList}}
			{{each newsList}}
			<li>
				<div class="img">
					<img src=${imgUrl} alt=${imgDesc} />
					{{if (videoUrl) }}
					<button type="button" class="btn-ico video" data-role="play-btn" data-video-type="${videoType}" data-video-id="${videoID}" data-view="1"><span class="blind">watch the video : ${vidTitle}</span></button>
					{{/if}}
				</div>
				<div class="fluid-txt txt">
					<h2 data-ui-textoverflow="true" class="tit">${contsTitle}</h2>
					<div data-ui-textoverflow="true" class="sub">${contsDesc}</div>
				</div>
				<div class="act align">
					{{if (link == true) }}
					<a href=${url} class="btn link">Read more</a>
					{{/if}}
					{{if (pdfUrl) }}
					<a href=${pdfUrl} class="btn pdf_down">Download PDF</a>
					{{/if}}
					<span class="date">${date}</span>
				</div>
			</li>
			{{/each}}
		{{else}}
			<p>데이타 없다.</p>
		{{/if }}
		</script>
		<!-- //list -->

	</div>
	<!-- //contents wrapper -->

<!--#include virtual="/semiconductor/common/html/sec/semi_footer.sec"-->